[2021-04-30 07:30] TobiasNx opened #1237 "Add "tableOfContents""

[2021-04-30 07:30] TobiasNx opened #1238 "Add DOI"

[2021-04-30 07:33] TobiasNx opened #1239 "Add ismn"

[2021-04-30 08:09] dr0i commented on #1160
Deployed fix, please have a look @hagbeck .

[2021-04-30 08:11] TobiasNx opened #1242 "wrong values in `hasVersion` and `related`"
e.g. HT000161712

[code]

[2021-04-30 08:26] TobiasNx commented on #1242
as discussed off-board woth @dr0i : I split this issue in two steps:
1) I will out-comment `hasVersion` and `related`-transformation. So that I can work on #1237 since they encompass tableOfContent information.
2) After solving #1237 I will rearrange `hasVersion` and `related`

[2021-04-30 09:15] TobiasNx commented on #1179
I added 830 to isPartOf and filtered duplicates out with an if conditional.

[2021-04-30 09:23] #1160 closed

[2021-04-30 12:27] blackwinter commented on #1226
"Beispiel: Im Extension Pack der NZ können Felder vorhanden sein:
009, 090, 100, 110, 111, 240, 249, 250, 264, 290, 300, 336, 337, 338, 340, 344, 345, 346, 347, 382, 385, 500, 502, 655, 689, 700, 710, 711, 751, 770, 772, 773, 775, 776, 777, 780,785, 787, 900, 910, 912, 924, 925, 929, 930, 931, 932, 960, 961, 962, 963, 964 (?)." (see "Zentrale und lokale MARC 21-Felder im hbz")

[2021-04-30 12:30] TobiasNx commented on #1226
with `830` we have something that*s not in the list.

[2021-04-30 13:41] TobiasNx opened #1246 "110 & 710 are missing GND-identifier-fields"

[2021-04-30 14:05] TobiasNx commented on #1179
we should leave the ticket open and add "labels" in the "hasSuperordinate"

[2021-05-03 07:45] TobiasNx commented on #1246
While the GND as`"id"` is created, the field gndIdentifier is not created for 110 an 710. But there seems to be a macro for that we could use.

[2021-05-03 07:56] TobiasNx commented on #1246
https://github.com/hbz/lobid-resources/blob/2d136786157b1a3f4b6837f980a4a5b33d9cc576/src/main/resources/alma/common/contribution.xml#L17

https://github.com/hbz/lobid-resources/blob/2d136786157b1a3f4b6837f980a4a5b33d9cc576/src/main/resources/alma/common/contribution.xml#L85-L121

[2021-05-03 09:03] TobiasNx opened #1248 "Remodel contributor roles (ALMA)"
Concerning our ALMA-Transformation:
At the moment organisations as contributors always have the role "Mitwirkende" but "Autor" (author) should be possible too.

https://github.com/hbz/lobid-resources/blob/2d136786157b1a3f4b6837f980a4a5b33d9cc576/src/main/resources/alma/common/contribution.xml#L113-L120

[2021-05-03 12:50] #1238 closed

[2021-05-03 12:50] #1239 closed

[2021-05-03 12:51] dr0i commented on #1239
Deployed, see e.g. See e.g. https://alma.lobid.org/resources/search?q=HT004285445&format=json. Closed.

[2021-05-03 12:51] dr0i commented on #1238
Deployed, see e.g. See e.g. https://alma.lobid.org/resources/search?q=TT050421649&format=json.. Closed.

[2021-05-03 12:52] dr0i commented on #1242
Deployed, see e.g. See e.g. https://alma.lobid.org/resources/search?q=HT000161712&format=json. Closed.

[2021-05-03 12:52] dr0i commented on #1179
Deployed, see e.g. https://alma.lobid.org/resources/search?q=HT017015300&format=json. Closed.

[2021-05-03 13:05] #1236 closed

[2021-05-03 13:40] TobiasNx commented on #1242
Reopen for remodelling `"hasVersion"` and `"related"`

[2021-05-04 07:41] TobiasNx commented on #1219
In the old morph this is transformed as "natureOfContent". Will transform this as this, too.

[2021-05-04 07:45] #1232 closed

[2021-05-04 07:45] #1237 closed

[2021-05-04 07:46] dr0i commented on #1237
See https://alma.lobid.org/resources/search?q=HT000161712&format=json. Closed.

[2021-05-04 07:47] dr0i commented on #1232
See https://alma.lobid.org/resources/search?q=HT000312236%20AND%20subjectAltLabel:*&format=json. Closed.

[2021-05-04 08:13] #1228 closed

[2021-05-04 09:04] TobiasNx commented on #1220
The mapping of hbz says that [653 is refering to "Stichwörter" ](https://service-wiki.hbz-nrw.de/pages/viewpage.action?pageId=483000321) but MARC is using it for not controlled subjects. lobid ressources has `"titleKeywords"` but our example does not resemble Stichworte/titleKeywords.
I suggest, to use 653 as not controlled vocab in `"subject"`

What do you think, @acka47

[2021-05-04 09:08] TobiasNx commented on #1218
This seems to be no issue anymore, see: http://alma.lobid.org/resources/search?q=hbzId:TT050421649&format=json

[2021-05-04 09:08] #1218 closed

[2021-05-05 07:43] TobiasNx commented on #1242
@acka47

I am irritated by the definition of "hasVersion" as lobid is using it: https://github.com/hbz/lobid-resources/pull/453/commits/e26a3189d3c516b99399e4d8c4394e7da690b302

655 is only refering to electronic links in the metadata.

In contrast https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/hasVersion gives a much broader definition:

I think this do

[2021-05-05 08:14] acka47 commented on #1242
The issue where the current status regarding `seeAlso`, `hasVersion` and `fulltextOnline` have been discussed is #441. Maybe this helps for your understanding, @TobiasNx ?

[2021-05-06 07:41] TobiasNx commented on #1242
The values in 856## $3 which used to be 655 $3 and specifiy the content of the link are:

655 #  L 3 Ausführliche Beschreibung
655 #  L 3 Auszug
655 #  L 3 Autorenbiografie
655 #  L 3 Autorenkommentar
655 #  L 3 Begleitmaterial
655 #  L 3 Beschreibung für Bibliotheken
655 #  L 3 Beschreibung für Buchhändler
655 #  L 3 Beschreibung für die Lizenzabteilung
655 #  L 3 Beschreibung für Lehrer/Erzieher

[2021-05-06 07:43] dr0i commented on #1221
Just wondering if `Corporate Body subject` should be typed as [Concept](https://www.w3.org/TR/2009/NOTE-skos-primer-20090818/#secconcept). We use already `Concept` e.g. `spatial.id:"https://nwbib.de/spatial#N20"` which denote a SKOSified URI. But this is not the case for the `Corporate Body subject` which lacks any URIs to begin with and thus lacks any SKOSification.

[2021-05-06 07:47] #1219 closed

[2021-05-06 07:48] dr0i commented on #1219
Deployed, see e.g. http://alma.lobid.org/resources/search?q=hbzId:HT003176544&format=json.

[2021-05-06 14:29] dr0i opened #1257 "Add EtikettMaker to Alma ETL"
Add the EtikettMaker to Alma's ETL workflow and see what happens.
Might resolve (or help to resolve) #1248 in conjunction with its PR (##1255).

[2021-05-07 10:17] UBmakla opened #1258 "No title in isPartOf, just id"
e.g. 990181275760206441

[2021-05-07 10:48] dr0i commented on #1179
Reported in https://github.com/hbz/lobid-resources/issues/1258:
The title is missing in http://alma.lobid.org/resources/search?q=990225980070206441&format=json although it's in the  Alma Marc Source (as noted here https://github.com/hbz/lobid-resources/issues/1179#issuecomment-827591591).
Also, the id should be a valid lod URI like: "http://lobid.org/resources/$HT-NR#!" .

[2021-05-07 10:49] dr0i commented on #1258
Thx for reporting. I reopened https://github.com/hbz/lobid-resources/issues/1179 and close this issue here.

[2021-05-07 10:49] #1258 closed

[2021-05-10 07:36] #1179 closed

[2021-05-14 10:05] UBmakla opened #1261 "Different sequence in hasItem"
Is it possible to keep the same sequence in hasItem? In general currentLocation is under heldBy, but sometimes above, e.g. 990054016950206441. This is a problem for our work with Metafacture. thx

[2021-05-14 14:24] dr0i commented on #1261
Hm, no this cannot be guaranteed. JSON is agnostic to the sequence of fields. From [rfc 7159](https://datatracker.ietf.org/doc/html/rfc7159):

If you could provide an example and morph we may help to figure out how to make it work. We could also use a [sandbox](https://github.com/hagbeck/metafacture-sandbox/) for this, if you like.

[2021-05-15 10:37] UBmakla commented on #1261
Hm, thx, I try another way in Metafacture. Otherwise I call again ;-). But first a week holiday :-)

[2021-05-17 07:21] dr0i commented on #1213
If `webhook.alma.basedump.switch.automatically` is set to "true" the alias
of the index is switched after an successful ETL of the basedump, making
 "-staging" productive. Default is "false".

Deployed to production, closing.

[2021-05-17 07:21] #1213 closed

[2021-05-18 07:41] dr0i commented on #1261
Good holiday then :)
I just stumbled upon a documentation of a new metafacture feature (since 5.2.0 ) ["restrict-firing-to-only-when-the-collector-iscomplete"](https://github.com/metafacture/metafacture-core/wiki/Metamorph-Cookbook#restrict-firing-to-only-when-the-collector-iscomplete), maybe this helps you fixing the morph.

[2021-05-18 08:11] TobiasNx commented on #1261
Another idea would be to use flushWith at the entity level: `flushWith="hasItem[].*` (something like that?) @blackwinter gave me the hint, that it is possible to flush at entity level. I did not know that before.

[2021-05-19 05:50] TobiasNx commented on #1257
When I locally test run etiketts are not added https://github.com/hbz/lobid-resources/commit/ed34b40c4db773b70c053ff9b7702cf4afa1873b

Also somehow it seems, that the testdata changed, since the order changed and the new data was introduced.

[2021-05-20 12:57] dr0i opened #1264 "Play apps crashed, monit silently unmonitors"
Today we discovered that the play app of `lobid-resources` at quaoar1 and weywot2 couldn't be launched and was silently unmonitored, resulting in a downtime of `lobid-resources` and consecutive apps like `nwbib`.

One issue is that  while the `restart.sh` script [already removes the RUNNING_PID](https://github.com/hbz/lobid-resources/commit/d35f71aacc6d6894650a91207bdfeaa4a6645e9b#diff-4bf18dc9110

[2021-05-20 12:59] dr0i commented on #1264
Closing in favour of the proper repo, see https://github.com/hbz/lobid/issues/465.

[2021-05-20 12:59] #1264 closed

[2021-05-20 15:23] dr0i commented on #1257
Problem was fixed, "mvn clean install" was missing. Closing.

[2021-05-20 15:23] #1257 closed

[2021-05-21 08:14] dr0i commented on #1242
Reopened for I am unsure if it is completely solved [re](https://github.com/hbz/lobid-resources/issues/1242#issuecomment-833305273):

while the title demands the fix of "hasVersion".

[2021-05-21 08:14] TobiasNx commented on #1248
To not loose the discussion in the not used PR: #1255

https://github.com/hbz/lobid-resources/pull/1255#issuecomment-833313750:

and
https://github.com/hbz/lobid-resources/pull/1255#issuecomment-833557636

and
https://github.com/hbz/lobid-resources/pull/1255#issuecomment-833569272

[2021-05-21 08:25] TobiasNx commented on #1248
@dr0i has introduced the etikett-maker and I have separated the marcRel-labels from the other labels.
I also added not used marcRel - concepts that the DNB Standardisierungsausschuss named in https://wiki.dnb.de/download/attachments/106042227/AH-017.pdf

@acka47
Is there a reason why we did not use the marcrel: `aut` for authors but transformed all `aut` to `cre` (creator).

Concerning the roles w

[2021-05-21 09:08] TobiasNx commented on #1221
Since we have a subjects that do not count as `"type": "complexSubject"` or `"type": "concept"` we introduced `"type": "keyword"` as type for those subjects that do not have controlled vocabs. `"type": "concept"` will be used for SKOS and also for other concepts from controlled vocabularies even if they do not have an id.

[2021-05-21 09:16] dr0i commented on #1248
I think I am assigned accidentally. Assigning @acka47 .

[2021-05-21 09:30] TobiasNx commented on #1242
yes the ticket can be closed, while working on this ticket we decided to drop "hasVersion" for now.

[2021-05-21 09:30] #1242 closed

[2021-05-21 09:38] TobiasNx opened #1268 "Add format subject from 689 to natureOfContent"
@hagbeck wished to add the format subjects from the Schlagwortfolgen `"689"` those have

These have type specifications in subfield A and not in subfield D.

e.g.:

[code]

Subfield "A" refers to values-list:
f - Formschlagwort

[2021-05-21 11:01] #1221 closed

[2021-05-21 11:03] dr0i commented on #1221
Will be deployed at Monday.

[2021-05-21 11:23] acka47 commented on #1248
This originates from https://github.com/hbz/lobid-resources/issues/72 (where we apparently hadn't decided yet to use `bf:contribution`) where I wrote:

So the reason might be that
1. there was no property like `author` so we stick to `dct:creator` and modeled the data accordingly when movin to `bf:contribution` or
2. `aut` was used as default in the data also for non-textual materials where it did

[2021-05-21 11:28] TobiasNx commented on #1220
I used it as subject since the marc data says it is subject related.

[2021-05-21 12:46] TobiasNx commented on #1248
Within the test data I only find "aut" with textual publications, but that is only 20. For that we could set up a test index and check out, if it is true that "aut" is a default value. On the other hand, since we use marcRel we should reuse the source data of the Verbundskatalog. I therefore would vote for the "original" code and not transform it to "aut"

 A more generic version of role types is

[2021-05-21 13:11] dr0i commented on #1246
Merged but not deployed yet. Will be deployed at Monday.

[2021-05-21 13:28] #1220 closed

[2021-05-21 13:29] dr0i commented on #1268
Merged, will be deployed after weekend.

[2021-05-21 13:43] dr0i commented on #1220
Merged, will be deployed after weekend.

[2021-05-25 06:20] TobiasNx commented on #1248
We have a sample index of ~500000 (http://test.alma.lobid.org/resources/search?q=*&format=json). In this sample we have only 88 aut that are not associated with book or periodical:
http://test.alma.lobid.org/resources/search?q=contribution.role.label:%22aut%22%20AND%20NOT%20type:%22Book%22%20AND%20NOT%20type:%22Periodical%22%20&format=json

Seems to be reasonable that we use "aut"

[2021-05-25 10:08] dr0i commented on #1246
Deployed, see e.g. http://alma.lobid.org/resources/search?q=HT017411546&format=json .
Note, though, that you cannot query `contribution.agent.gndIdentifier`: http://alma.lobid.org/resources/search?q=contribution.agent.gndIdentifier:*&format=json

[2021-05-25 10:08] #1246 closed

[2021-05-25 10:16] dr0i opened #1271 "natureOfContent: same label multiple times"
Originates from #1269, see e.g. http://alma.lobid.org/resources/search?q=99370682219806441&format=json :
[code]

Should be unique.

[2021-05-25 10:19] dr0i commented on #1268
Note that the field can occur multiple times but should be unique. Opened issue #1271 for that.

[2021-05-25 10:19] #1268 closed

[2021-05-25 10:21] dr0i commented on #1221
Deployed, se e.g. http://alma.lobid.org/resources/search?q=HT020202475&format=json. Closed.

[2021-05-25 10:24] dr0i commented on #1220
Deployed, see e.g. http://alma.lobid.org/resources/search?q=HT019246898&format=json.

[2021-05-25 10:30] TobiasNx opened #1272 "Add GND as subject source in not 689-subjects"
see e.g. http://alma.lobid.org/resources/search?q=99370682219806441&format=json :
[code]

[code]

PS: Also Unique them.

[2021-05-25 13:16] TobiasNx opened #1273 "Add 600 - Subject Added Entry-Personal Name as `subject`"
[600 - Subject Added Entry-Personal Name (R)](https://www.loc.gov/marc/bibliographic/bd600.html)

e.g. HT000893437

[2021-05-25 13:19] TobiasNx opened #1274 "Add 651 - Subject Added Entry-Geographic Name as `subject`"
[651 - Subject Added Entry-Geographic Name (R)](https://www.loc.gov/marc/bibliographic/bd651.html)

e.g. 99370738710506441

[2021-05-25 13:20] TobiasNx opened #1275 "Add 611 - Subject Added Entry-Meeting Name as `subject`"
[611 - Subject Added Entry-Meeting Name (R)](https://alma.lobid.org/marcxml/990058434730206441)

e.g. 99370738710506441

[2021-05-25 13:20] TobiasNx opened #1276 "Add 648 - Subject Added Entry-Chronological Term as `subject`"
[648 - Subject Added Entry-Chronological Term (R)](https://www.loc.gov/marc/bibliographic/bd648.html)

e.g. 99370738710506441

[2021-05-25 13:21] TobiasNx opened #1277 "Add 630 - Subject Added Entry-Uniform Title as `subject`"
[630 - Subject Added Entry-Uniform Title (R)](https://alma.lobid.org/marcxml/990058434730206441)

e.g. HT014601018

[2021-05-25 13:23] TobiasNx opened #1278 "Add 658 - Index Term-Curriculum Objective as `subject`"
[658 - Index Term-Curriculum Objective](https://www.loc.gov/marc/bibliographic/bd658.html)

e.g. 99370678148206441

[2021-05-25 13:33] TobiasNx commented on #1222
647, 654, 657, 662

found no test resources for these fields.

[2021-05-26 08:02] TobiasNx commented on #1248
We (@acka47 and I) decided off board that we keep that labels that are given by the Verbundskatalog since the catalogue data seems not to use "aut" for not textual publications.

[2021-05-26 13:38] TobiasNx opened #1279 "Read publication dates with regex and not just as publicationHistory"
Since there was no coherent data for publication start and end dates we moved it to publicationHistory, but I think we should be able to read the start and end dates with regexp

[2021-05-26 14:56] UBmakla commented on #1261
Relaxing vacation helps ;-). I find another way for the problem. But the flushWith idea may be helpfull for another problem, thx!

[2021-05-27 07:02] dr0i commented on #1261
Good to hear :)
Closing this issue.

[2021-05-27 07:02] #1261 closed

[2021-05-27 09:12] dr0i commented on #1222
In general it _is_ already possible to search those fields in XML data, just place the XML file to "src/test/resources/alma/almaMarcXmlTestFiles.xml.tar.bz2" and adapt the AlmaTest in https://github.com/hbz/lobid-resources/blob/a7794a371ddb0eee8425e1b0ff366e9c8d8ea5a5/src/test/java/org/lobid/resources/AlmaMarc21XmlToLobidJsonTest.java#L57 :

But oh is this slow - while it is lighning fast when the

[2021-05-27 09:43] dr0i opened #1280 "Load Webhook configs dynamically"
Atm the `webhook` configs in https://github.com/hbz/lobid-resources/blob/master/web/conf/resources.conf are only loaded when the play app is started. Thus:

1. if a config is changed the app has to be restarted
2. one cannot 100% certain that the content of the file is indeed active at any point

It's a hassle to always restart the app.
Solution is to dynamically reload the webhook config when a w

[2021-05-27 15:41] dr0i opened #1281 "EtikettMaker: labels directory misconfigured"
[code]

[2021-05-28 08:47] TobiasNx opened #1282 "Add default codes for contributors without marcRel codes"
e.g. 99370756332806441

[code]

I would suggest 100 and 110 since they are the main contributor if type book or other textual publication then "aut" otherwise "cre".
For 700 and 710 "ctb" (contribution) since they are additional contributors.

We have ~300.000 records without contributor roles.

[2021-05-28 09:21] dr0i commented on #1281
That's obviously because the Webhook uses the bundled jar and there is something wrong with accessing the labels.json.
The standalone test is successful as it is directly started and not executed from the Webhook.
We can also see that the EtikettMaker produces only fallbacks i.e. it's not using the labels.json.

[2021-05-31 11:02] TobiasNx commented on #1282
for creators that are 100 or 110 (Main Entry-Personal Name)

                "BibliographicResource",
                "ArchivalResource",
                "ArchivedWebPage", -> cre
                "Book", -> aut
                "Collection", -> aut
                "Periodical", -> edt or cre
                "Series", -> edt or cre
                "Newspaper", -> edt or cre
                "Journal"

[2021-05-31 11:03] TobiasNx commented on #1282
This list should also be used for ALEPH #1248

[2021-05-31 12:29] acka47 commented on #1282
Looks good two things have to be changed:

- [`Collection` in lobid](http://lobid.org/resources/search?q=type:Collection) refers to collections of bibliographic data (NWBib, ZDB). Thus, we should use `cre` there.
- `Proceedings` should also use `cre` or `edt`
-
Regarding "Festschrift", the German term is actually used in English as well, see https://en.wikipedia.org/wiki/Festschrift.

[2021-05-31 12:31] acka47 commented on #1282
I am not sure about this but my MARC21 knowledge is too small to assess this. If you are sure about this, @TobiasNx, I am ok with it.

[2021-05-31 14:49] dr0i opened #1286 "Bulk (aka jsonl) format returns pretty printed json"
Reported by @hagbeck.

Following API call results in bulk of pretty printed json:
alma.lobid.org/resources/search?q=linux&owner=DE-290&format=bulk
Expected was a bulk download of json-lines , not pretty printed.

This was introduced in 1a5779cbbfe67c6a599ab4265ef9641f78b6f356 by adding the `EtikettJson` to the flow:
this plugin returned pretty printed json which in the end is indexed into elastics

[2021-06-01 07:36] dr0i commented on #1281
Deployed, closing.

[2021-06-01 07:36] #1281 closed

[2021-06-01 09:27] dr0i commented on #1286
Deployed. Reported fixed by @hagbeck. Closing.

[2021-06-01 09:27] #1286 closed

[2021-06-07 07:37] dr0i opened #1289 "Change "lv:almaIdMMS" to "lv:almaMmsId""
Originates in https://github.com/hbz/lobid-vocabs/pull/134.

We have to adjust the morph and also the code.

[2021-06-07 07:54] dr0i commented on #1289
Don't forget, from https://github.com/hbz/lobid-vocabs/pull/134#issuecomment-849572082:

[2021-06-07 15:59] #1272 closed

[2021-06-07 15:59] dr0i commented on #1272
Deployed to production, see  https://alma.lobid.org/resources/search?q=subject.source.id:%22https://d-nb.info/gnd/7749153-1%22&format=json
Closing.

[2021-06-08 07:53] dr0i commented on #1280
Updated instructions at https://github.com/hbz/lobid-resources/wiki/Maintain-Alma.lobid-API. Closing.

[2021-06-08 07:53] #1280 closed

[2021-06-08 09:51] dr0i commented on #1222
Ah, when using the pattern without wildcard it's back to be ultra fast again :)
So, just  use e.g. `662` as pattern, not `.*662`.

[2021-06-08 12:53] dr0i commented on #1222
I couldn't also find any XML with the fields "647, 654, 657, 662" filtering the `update.xml.bgzf` containing 100k XML records using the OR pattern described at [wiki: How-to-find-particular-XML-records](https://github.com/hbz/lobid-resources/wiki/How-to-find-particular-XML-records).
I think we can close this issue then - WDYT @TobiasNx ?

[2021-06-08 13:56] TobiasNx commented on #1222
+1 For now we have our examples and corresponding tickets. So yes, thanks for finding a new faster way finding specific test files.

[2021-06-08 13:56] #1222 closed

[2021-06-08 16:17] dr0i commented on #1289
This is ETLed atm and should be ready in an hour or so - @TobiasNx  should get an email when this is ready.
This new index should not be made productive, i.e., the alias should have the `-staging` suffix.
It can be tested at http://test.alma.lobid.org.
The index `almaresources-20210607-1507` should be still the productive one.

[2021-06-09 07:40] TobiasNx commented on #1289
http://test.alma.lobid.org/resources/search?q=990181275760206441&format=json seems to work

[2021-06-09 07:43] TobiasNx commented on #1289
@UBmakla and @hagbeck we would change the the `AlmaIdMMS` to `almaMmsId` then. Is that okay with you?

[2021-06-09 11:57] hagbeck commented on #1289
Yes, it is. We're currently able to work with both.

[2021-06-10 07:51] #1289 closed

[2021-06-10 08:25] dr0i commented on #1289
Deployed. Closed.

[2021-06-11 09:42] TobiasNx commented on #1248
Hi @acka47, could you have a look if the labels are good like this?

[2021-06-14 08:12] dr0i commented on #1248
Don't know what to do here. Unassigning myself.

[2021-06-14 14:50] TobiasNx commented on #1226
Took this up again and solved it. Unfortunately we can't work with makros here since they are not allowed in if-conditionals also if-conditionals are not allowed in makros.

[2021-06-14 15:15] dr0i opened #1298 "Set "resultOf.endTime" in test files to "dummy""
It's handy to not always have different "resultOf.endTime" with every
deployment. We could set "createEndTime" as morph definition to "0" aka "false"
or "1" aka true to trigger creation of "endTime".

[2021-06-15 07:46] #1248 closed

[2021-06-15 07:48] dr0i commented on #1248
Deployed, see e.g. https://alma.lobid.org/resources/search?q=HT000161712&format=json.
Closed.

[2021-06-15 07:53] dr0i commented on #1279
Fixed, see e.g. http://alma.lobid.org/resources/search?q=99370682219806441&format=json.
Closing.

[2021-06-15 07:53] #1279 closed

[2021-06-15 08:06] dr0i commented on #1298
Merged.
From now on it's mandatory to set the morph definition (aka morph variable) `createEndTime`.

[2021-06-15 08:06] #1298 closed

[2021-06-15 08:47] dr0i commented on #1298
Note:
The solution relies on only _one_ morph, triggering the creation of either `dummy` or a timestamp as value for `createEndTime`

I decided against two morphs (one morph just setting `createEndTime` , the other (production one) with an include of the main alma morph and the `createEndTime` morph) because `createEndTime` is part of the `resultOf` entity and that whole entity would have to be pa

[2021-06-15 14:30] #1226 closed

[2021-06-15 14:31] dr0i commented on #1226
Deployed, see e.g. https://alma.lobid.org/resources/search?q=990181275760206441&format=json.
Closed.

[2021-06-15 14:33] #1271 closed

[2021-06-15 14:33] dr0i commented on #1271
Deployed, see e.g. https://alma.lobid.org/resources/search?q=99370682219806441&format=json.
Closed.

[2021-06-21 12:16] dr0i commented on #1193
Deployed, see e.g. https://alma.lobid.org/resources/99370682219806441.json.
Closing.

[2021-06-21 12:16] #1193 closed

[2021-06-28 11:39] UBmakla opened #1302 "lobidAlma doesn´t work"
"Not found" e.g. for http://alma.lobid.org/resources/990369982720206441.json
thx

[2021-06-28 11:58] dr0i commented on #1302
Uh - sorry! That was a silly misconfiguration that prevented the testing ... Should work now.

[2021-06-28 12:01] UBmakla commented on #1302
perfect, works, thx!

[2021-06-28 12:18] #1302 closed

[2021-06-28 13:17] dr0i commented on #1302
Also added to monit-config to test if alma.lobid.org/resources/search?q= yields the field `almaMmsId` (instead of `hbzId`). So we will shall be warned next time that crucial field is missing.

[2021-07-07 10:00] TobiasNx opened #1304 "Provide aggregated list of natureOfContent>labels"
@hagbeck asked for a list of natureOfContent>labels.

[2021-07-12 10:04] acka47 commented on #1304
Done, closing.

[2021-07-12 10:04] #1304 closed

[2021-07-21 08:36] hagbeck opened #1305 "Alma: non-official collections are missing"
s.a. #1052 for the same problem in Aleph version

The relevant value in the Alma record 990213367870206441 comes from the MARC field `962 e`.
I knew that collections could be in 912 and 960. And now obviously in 962, too.

[2021-07-30 12:55] dr0i opened #1307 "Add ORCID"
@UBmakla asks for ORCID integration.

In GND exists sometimes a sameAs to ORCID, e.g. https://lobid.org/gnd/121546985 .

These ORCIDs exists also in Alma, see e.g. in https://indexes.devel.digibib.net/export/990181637940206441 (accessible only in hbz internal network):
[code]

If it would be integrated it would appear in https://alma.lobid.org/resources/search?q=121546985&format=json .

[2021-08-02 07:16] TobiasNx commented on #1307
Okay, that seems to be tricky since the author information resides in 100/110 and 700/710. In there is a GND refrence to the GSI element, which also exist twice:

[code]

[2021-08-10 14:31] dr0i commented on #1307
AFAIK we use `sameAs` only at top level. So it may be easier for both, producer (us!) and consumer to enrich agents by simply adding `orcid` like this:

    agent : {
      label : Cartter, Allan Murray,
      type : [ Person ],
      gndIdentifier : 127022538,
      orcid: $theOrcid,
      id : https://d-nb.info/gnd/127022538
    },

(btw.: isn't it a shame that that is not done already in Alma's

[2021-08-13 14:31] acka47 opened #1310 "Import Open Textbook Library"
https://open.umn.edu/opentextbooks records 896 open textbooks. I checked for three or four of them whether they are in lobid (or even K10Plus) but couldn't find any of them. For one, I'd be interested how many of them are actually missing from German union catalogs (might be a good MALIS project). Furthermore, we should think about importing them into lobid or even into the source: the hbz union c

[2021-08-16 07:40] TobiasNx commented on #1310
The question here is why free resources are not listed in local or federal catalogues. This is (or might be) connected to the divide of catalogues and discovery systems. When working on my MALIS Project on OA-E-Book metadata and its supply chain I had talks with the librarians working on the library system and also with the e-book-department of University Duisburg-Essen. They told me that the OA-p

[2021-08-16 07:51] TobiasNx commented on #1310
Here are some infos to the OA e-book-packages in the federal catalogue of the hbz:
https://service-wiki.hbz-nrw.de/pages/viewpage.action?pageId=14549017

And here are the requirements for the integration:
https://service-wiki.hbz-nrw.de/download/attachments/14548998/EBooks_Kriterienkatalog.pdf?version=1&modificationDate=1402668577566&api=v2

And news:
https://service-wiki.hbz-nrw.de/display/VDBE/A

[2021-08-17 08:49] dr0i commented on #1307
With stream-based morph cannot merge two entities `A` and `B` if the one who should be merged (`B`)  comes _after_ the "main" entity (`A`)_and_ if there can be more _main_ entities having the same field names (the `flushWith="$entityName"` cannot work then properly). Unfortunately both is the case here, so https://github.com/metafacture/metafacture-core/wiki/Metamorph-Cookbook#restrict-firing-to-o

[2021-08-18 15:13] acka47 commented on #1071
The [source data](http://lobid.org/hbz01/HT020163348) looks like this for the example HT020163348:

[code]

If I understand it correctly, NWBib editors want to display something like this:

[Online-Ausgabe, PDF](https://nwbib.de/HT020163372)

For this, we need the content of subfield `n`. I suggest adding it as `note` in the `related` object like this and furthermore add the content of subfield `a

[2021-08-25 07:58] TobiasNx commented on #1071
It seems that field 776 is similar in the alma transformation. I rearranged this here:

https://github.com/hbz/lobid-resources/commit/18976f6e5f05e0eeea781e7956ed2397e6a41266

There also existed a (similar) ticket for your task here: https://github.com/hbz/lobid-resources/issues/1090

[2021-08-25 08:11] acka47 commented on #1071
Thanks for the hint. I prefer the approach in #1090 using `medium` instead of `note`. I suggest us three (@TobiasNx, @dr0i, @acka47) discuss how to proceed and then close one issue as duplicate. Would  tomorrow at 10 am be ok?

[2021-09-01 10:14] TobiasNx commented on #1305
@hagbeck can you have a look at the PR.

[2021-09-03 07:12] TobiasNx commented on #1305
@hagbeck wrote:
"Die Testausgabe passt auf jeden Fall so. Labels wären natürlich aus Open Data-Sicht schön, aber wir benötigen "nur" die ID, damit wir die im Index als Anker zum Aufruf der Collection-Inhalte nutzen können.

Für diese "Nicht-ZDB-Sigel-Kollektionen" müsste es doch eigentlich im Verbund eine Dokumention geben, die auch ordentliche Label oder Bezeichnungen enthält. Fraglich ist natürl

[2021-09-03 09:07] TobiasNx commented on #1114
Test for publisso "http://lobid.org/resources/HT019838800#!"

[2021-09-03 09:08] TobiasNx commented on #1114
Test for edoweb: "http://lobid.org/resources/HT019440025#!"

[2021-09-03 09:11] TobiasNx opened #1312 "Labels for Collections e.g. ZDB and those from 912?"
At the moment we just list "eResource package"" as label for ZDB-Collections.
https://github.com/hbz/lobid-resources/blob/2ae7b86259115ee3fa8693e3ba16ebda2739ca54/src/main/resources/alma/fix/relatedRessourcesAndLinks.fix#L391-L401

We could use the labels from here: https://service-wiki.hbz-nrw.de/display/VDBE/Produktsigel+und+interne+Selektionskennzeichen

And we have no labels for
https://github

[2021-09-03 09:26] dr0i commented on #1305
Was closed unintentionally by closing PR #1306. Reopening.
Will be automatically deployed at Sunday.

[2021-09-06 08:56] dr0i commented on #1021
We should go like metafacture, using .editorconfig. See https://github.com/metafacture/metafacture-core/pull/388.

[2021-09-06 11:10] acka47 opened #1313 "Use same Alma-resources as test resources that are used in Aleph"
To compare and monitor progress of the Alma2lobid ETL it would be nice to easily compare the same test resources (i.e. resource with the same hbz ID) coming from Aleph and Alma.

[2021-09-07 08:38] TobiasNx commented on #1313
I added the Aleph-Testfiles in the branch https://github.com/hbz/lobid-resources/tree/1313-copyAlephTestfilesToAlma

Then I compared the ALMA and Aleph-Transforamtion-Results of the test:

ALMA is missing:

- [ ] contribution[].*.agent.altLabel[].*
- [ ] hasItem[].*.note[].*
- [ ] contribution[].*.agent.dateOfBirth
- [ ] spatial[].*.focus.type[].*
- [ ] isPartOf[].*.type[].*
- [ ] contribution[].*

[2021-09-07 08:47] TobiasNx commented on #1313
@acka47 which of those should we prioritize concerning nwbib?

[2021-09-07 09:04] acka47 opened #1314 "Articles not typed as such"
I compared [HT020925306 in lobid-Aleph](http://lobid.org/resources/HT020925306.json) with [HT020925306 in lobid-Alma](https://alma.lobid.org/resources/search?q=HT020925306&format=json) and noticed:

- in Alma this is not typed as `Article` (but it should be)
- `isPartOf` is used to link to the journal the article is contained in instead of `containedIn`

[2021-09-07 09:07] acka47 commented on #1314
Related request by U.P. via NWBib mailing list on 2021-07-27:

So we probably will have to type a resource as `Article` when there is an `a` in the MARC leader position 7.

[2021-09-07 12:33] dr0i commented on #1305
Nope. Note to self: look at https://github.com/hbz/lobid-resources/wiki/Maintaining-Alma.lobid-API#deploy.
I had deployed aleph-lobid, not alma-lobid.

[2021-09-07 13:37] acka47 commented on #1313
I've added some exclamation marks for fields I think or am ceratin about that they are important for NWBib. Might have added some that aren't and missed others, though but it should give you some hints where to start, @TobiasNx .

[2021-09-10 07:38] dr0i commented on #1305
Deployed to production, see e.g. http://alma.lobid.org/resources/search?q=HT000161712&format=json.
Closing.

[2021-09-10 07:38] #1305 closed

[2021-09-14 14:00] acka47 commented on #1307
We had a meeting today where we – amongst other use cases – discussed this issue. See the pad athttps://etherpad.lobid.org/p/lobid-datenanreicherung

[2021-11-11 10:47] acka47 opened #1316 "Enable easy inspection of MARC for an Alma record"
Going forward with improving lobid-alma and setting up Alma-based NWBib, we will have the recurring need to inspect Alma MARC records based on an entry in alma.lobid.-org/resources. There are two options to implement this:

1. Add a simple HTML view for each entry (e.g. at https://alma.lobid.org/resources/99370878737906441) that links to the MARC an the JSON for comparison.
2. Add a way to add a f

[2021-11-11 11:22] TobiasNx commented on #1316
Wasn*t there a problem, that the MARC data is not open yet?

[2021-11-11 13:20] dr0i commented on #1316
Right - we are waiting on an official decision by the Verbundgruppe to expose the full data. @acka47 notied that the underlying MAB data was already released as CC0. However, we could you the internal API to get the MARC data and expose it publicly via our API as single pages.
@blackwinter do you have the link to the wiki-page where we noted the task of questioning Verbundgruppe? How shall we proc

[2021-11-11 13:26] blackwinter commented on #1316
You mean [NZ-Publishing - Fragen an Verbundgruppe](https://service-wiki.hbz-nrw.de/pages/viewpage.action?pageId=613646369)?

I have no idea, sorry.

[2021-11-11 14:22] dr0i commented on #1316
Thx @blackwinter ! Maybe @acka47 can solve ask the question at Verbundgruppe with you in CC so we can open the data if they give their ok.

[2021-12-04 10:48] gregorbg opened #1317 "Samples not working in JSON-LD Playground"
Hello! Upon trying to examine the [default sample](https://lobid.org/resources/HT018472857?format=json) given on your [API documentation page](https://lobid.org/resources/api) by using the [JSON-LD playground](https://json-ld.org/playground/), I am confronted with the following error message:
[code]

I have tried manually switching to either `JSON-LD 1.0` or `JSON-LD 1.1` parsing under `Option`; b

[2021-12-06 07:27] acka47 commented on #1317
Thanks for the detailed bug report. This should be fixed with #1318. The problem is that we used [aliased keywords](https://www.w3.org/TR/json-ld/#aliasing-keywords) not only in the instance data but in the JSON-LD context itself which apparently does not work.

[2021-12-06 07:33] acka47 commented on #1317
@gregorbg I am curious about your use case for lobid. Let us know if you plan to use it in you daily workflows and/or encounter any problems. You can reach us via lobid-admin \[at\] hbz-nrw \[dot\] de or via the chat at https://chat.gwdg.de/channel/lobid.

[2021-12-06 08:28] dr0i commented on #1317
It's not solved yet, see  #1318.

[2021-12-07 14:23] gregorbg commented on #1317
Hey, thank you for the quick fixes! As far as I'm concerned it works now; I've sporadically tested a few random HT entries and they were all processed by the JSON-LD Playground without any error. :+1:

I'd love to talk and get in touch some more about using the lobid API, I'll join the chat or write an email when I get the chance later this week.

[2021-12-08 09:43] UBmakla opened #1320 "Number of multipart monograph is missing in title"
e.g. 99370782520706441, should be „BKI-Baukosten ... Neubau, Teil 2: Statistische Kostenkennwerte für Bauelemente“
e.g. 990101630530206441, should be „Materialien-Handbuch Geographie, 5“
Is possible to realize this? THX

[2021-12-08 09:46] UBmakla opened #1321 "Series without numbers are missing"
e.g. 990223521400206441 missing series: „Programmierung/JavaScript“ and „Rheinwerk computing“
THX

[2021-12-09 08:49] #1317 closed

[2021-12-09 08:57] dr0i commented on #1317
Thx again @gregorbg for the report. We appreciate that.
We are looking forward to your questions concerning the lobid API.

[2021-12-09 12:56] dr0i commented on #1320
Hi @UBmakla !
The resource your mention is : http://alma.lobid.org/resources/search?q=HT020936481&format=json.
I take it you would want to have it analog to http://lobid.org/resources/HT020936481.json where the `title` is composed of `title` and `titleOfSubSeries` ?
The ALMA source:
[code]
We already parse `245_10_p` as `titleOfSubSeries` so we just would have to also parse `245_10_n` and and conc

[2021-12-09 13:09] UBmakla commented on #1320
Yes, that´s exactly what I mean.

[2021-12-09 14:36] dr0i commented on #1321
Mab Aleph: http://lobid.org/resources/HT020391499.json
Marc Alma:  http://alma.lobid.org/resources/search?q=HT020391499&format=json

You mean this is missing:
[code]

The relevant Alma Marc-XML looks like:
[code]

[2021-12-10 08:18] dr0i commented on #1321
Deployed to test , see e.g. http://test.alma.lobid.org/resources/search?q=HT019631849&format=json.

[2021-12-10 08:40] TobiasNx commented on #1320
I do not know it this is not problematic from a library perspectiv.'

The title of a multivolume monograph stays the same and to include the changing volume names / years in the title would corrupt the title data.

[2021-12-10 09:01] dr0i commented on #1320
But this out of the scope of this issue since this is also in our lobid-resources (as mentioned here https://github.com/hbz/lobid-resources/issues/1320#issuecomment-989827626) and we agreed to use lobid-resources as master template for alma-lobid. We could, of course, open a new issue to tackle this?

[2021-12-10 09:26] dr0i commented on #1320
@TobiasNx made me aware of two issues which discuss this:
https://github.com/hbz/lobid-resources/issues/672
https://github.com/hbz/lobid-resources/issues/1215
Maybe this would be a good time for introducing such an API-break for we are building a new API (the alma-lobid-API)?
I invite also @acka47 to give 2 cents.
Most important may be the opinion of @UBmakla and @hagbeck for being the VIP users o

[2021-12-10 12:44] UBmakla commented on #1321
Great, thanks for the quick implementation!

[2021-12-15 15:17] TobiasNx commented on #1321
Do understand this issue right that not the missing volume number but the missing id of an series was the issue?

The example here linked here: https://github.com/hbz/lobid-resources/issues/1321#issuecomment-989910106 suggest that. It has a volume number but no id.

In my opinion this seems to work now but in the example of @dr0i the volume number is missing.
See: http://test.alma.lobid.org/resour

[2021-12-16 17:19] gregorbg opened #1325 "Support for multi-language alphabets/symbols in all applicable fields"
This is a feature request. I would like to be able to retrieve information from any book or bibliographical resource that is written in a foreign language in the original script / alphabet.

Context: When cataloguing Japanese books, we usually enter the Japanese details in a romanized transcript, for example `さむらい` becomes `samurai`. At the same time, we _also_ fill so-called "parallel fields" in

[2021-12-17 07:35] acka47 commented on #1325
As we definitely won't have the time to implement this with Aleph/MAB-based data before the migration to Alma, we need to know how this looks in MARC21. To easily do this by myself, #1316 needs to be resolved.

[2021-12-17 07:37] acka47 commented on #1316
AFAIK, @trugwaldsaenger is checking the legal status of the Alma-based data. @trugwaldsaenger, please let us know as soon as you know more.

[2021-12-17 09:30] acka47 commented on #1320
+1 as far as I can see in http://alma.lobid.org/resources/search?q=HT020936481&format=json, the changes are already deployed.

[2021-12-17 09:45] dr0i commented on #1325
In MARC it looks like:
[code]

[2021-12-20 08:35] dr0i commented on #1321
I haven't dug up in what you mean by "missing volume number".
It was just that Aleph (http://lobid.org/resources/HT019631849.json) has `isPartOfRelation` while ALMA missed that formerly (http://alma.lobid.org/resources/search?q=990223521400206441&format=json).

[2021-12-20 08:57] #1321 closed

[2021-12-20 08:58] TobiasNx commented on #1321
Aleph:

[code]

I was referring to the numbering in your example. @UBmakla opened the issue as series without numbers. It is not the `numbering` but the missing `id` that was the reason that the `ìsPartOf`-Realtion has not been added.

In your example the `isPartOfRelation` is now added. But the `numbering` as subfield is missing.

ALMA:

[code]

[2021-12-20 08:58] dr0i commented on #1320
Yes, already deployed. Now merged into master. Closing.

[2021-12-20 08:58] #1320 closed

[2021-12-20 09:03] dr0i commented on #1321
Thx for clarification!
Seems to be a new issue.

[2022-01-24 07:55] dr0i opened #1329 "Add "grüne Ressourcen" from EZB"
UB Dortmund  wants to have so called "grüne Ressourcen" from EZB in the index, e.g. https://indexes.devel.digibib.net/export/99370693195606441.

[2022-01-24 11:51] TobiasNx commented on #1329
The marc-xml of the ressource is when loaded [as test file in loibid ressources](https://github.com/hbz/lobid-resources/blob/1329-greenRessource/src/test/resources/alma/(DE-605)HT017664407.xml#L140-L162) different to the file straight from [digibib](https://indexes.devel.digibib.net/export/99370693195606441):

From digibib (https://indexes.devel.digibib.net/export/99370693195606441) has multiple P

[2022-01-24 13:21] TobiasNx commented on #1329
This is the file as testdata:
https://github.com/hbz/lobid-resources/blob/a1e241700928e7816e92901d390433803bd41d53/src/test/resources/alma/(DE-599)ZDB2639885-0.xml

[2022-01-24 13:26] TobiasNx commented on #1329
UDB is listed as holding:

https://github.com/hbz/lobid-resources/blob/1329-greenRessource/src/test/resources/alma/(DE-599)ZDB2639885-0.json#L31-L34
https://github.com/hbz/lobid-resources/blob/1329-greenRessource/src/test/resources/alma/(DE-599)ZDB2639885-0.json#L64-L74

[2022-01-24 13:34] TobiasNx commented on #1329
Seems also be in the ALMA-Index: http://alma.lobid.org/resources/search?q=99370693195606441&format=json

[2022-01-24 13:45] TobiasNx commented on #1329
@hagbeck We were asked about this title and other green ressources to be added to ALMA-lobid. It seems that they are already in ALMA-lobid. Is there anything missing that you cannot integrate them into your discovery system?

[2022-01-24 13:59] dr0i opened #1330 "Add 'almaMmsId' to index-config"
In #1193 the name of the alma id was changed to `almaMmsId` , but in the [index-config.json](https://github.com/hbz/lobid-resources/blob/master/src/main/resources/index-config.json#L285) it was not changed (it's `almaIdMMS`).
If we update the `index-config.json` we could query like:
http://alma.lobid.org/resources/search?q=almaMmsId%3A%2299370693195606441%22&format=json (which would be analog to q

[2022-01-25 07:27] hagbeck commented on #1329
Hi,
I think, this an issue as a result of our request to the hbz first level support for alma.
The resource in Alma-lobid is fine. The problem was, that this resource was initially not published from Alma. So this issue can be closed.

[2022-01-25 07:42] TobiasNx commented on #1329
Okay, then I close the ticket.

[2022-01-25 07:42] #1329 closed

[2022-01-31 09:38] hagbeck opened #1331 "Alma: Missing ISSN"
Hi,
I'm missing the ISSN 2471-5506 for the record 99371107766906441. The ISSN is in the MARC field 776 x.
Please support this field for ISSN in lobid resources.

[2022-01-31 15:09] dr0i commented on #1331
We already take `776??x` into account, but as a `related.issn`, see e.g. http://alma.lobid.org/resources/search?q=990108873860206441&format=json.  We demand more fields than just the existence of `776??.x`, however. For the 990108873860206441 it's:

[code]
<datafield tag="776" ind1=" " ind2=" ">
<subfield code="x">2471-5506</subfield>
<subfield code="0">(uri) http://worldcat.org/issn/2471-5506</su

[2022-01-31 15:36] hagbeck commented on #1331
Hm, good question.
I think I prefer b)
a) is semantically incorrect, because 776 is for related resources (if I understand it correctly)
c) could be a problem as in this case, because the record comes from the Alma CZ

[2022-02-01 13:38] dr0i commented on #1331
Updated the index, see:
http://alma.lobid.org/resources/search?q=99371107766906441&format=json
You can also (as before) query the related issn:
http://alma.lobid.org/resources/search?q=related.issn=%222471-5506%22&format=json

[2022-02-01 13:41] dr0i commented on #1331
You may check this @hagbeck and give a +1 if it's fine now.

[2022-02-15 08:06] hagbeck commented on #1331
Hi,
the ISSNs are missing again.

[2022-02-15 08:34] dr0i commented on #1331
ACK. Going to examine.

[2022-02-17 09:09] #1331 closed

[2022-03-14 09:12] dr0i opened #1333 "Fix fail when publishedBy is a URL"
It's expected to have a string in `publication.publishedBy`. If it's a URL the json is not build. So ensure a string.

[2022-03-14 09:43] dr0i commented on #1333
Deployed, closing.

[2022-03-14 09:43] #1333 closed

[2022-04-02 11:28] acka47 opened #1335 "Broken links to Duisburg-Essen catalogue"
Sported by Sebastian Masse via Mastodon, https://digitalcourage.social/@sl007/108058896666664835:

https://primo.uni-due.de/discovery/search?query=any,contains,Robert%20Frank%20The%20Americans&tab=Everything&search_scope=MyInst_and_CI_custom&vid=49HBZ_UDE:UDE&offset=0​

[2022-04-04 06:14] TobiasNx commented on #1335
https://lobid.org/resources/HT012820317

It is the Link for:

[Lokalen Katalog abfragen](http://primo.ub.uni-due.de/primo_library/libweb/action/search.do?fn=search&vl%281UI0%29=exact&vl%28freeText0%29=HT012820317)

It also seems not to work with the Bielefeld-Link

[2022-04-04 06:42] acka47 commented on #1335
OPAC link templates for lobid-resources are maintained in https://github.com/hbz/link-templates. The idea was to maintain them together with other hbz groups and other people from the Verbund. Apparently, lobid-resources is the only service to directly use them and people (e.g. DigiBib) use their own solutions for maintaining these link templates.

I opened a PR at https://github.com/hbz/link-temp

[2022-04-05 06:35] acka47 commented on #1335
Reopening, for @dr0i to deploy the changes from https://github.com/hbz/link-templates/pull/18

[2022-04-05 07:06] dr0i commented on #1335
By merging the `link-template` the content at https://raw.githubusercontent.com/hbz/link-templates/master/isil2opac_hbzid.json has been updated. As this URL is used on-the-fly to get the OPAC link (when using the [html-view of the Item-URI](http://lobid.org/items/HT012820317:DE-465:JZIH2941(4)#!)) no further deployment is necessary.
Closing.

[2022-04-05 07:06] #1335 closed

[2022-05-11 09:26] hagbeck opened #1336 "Delay in indexing data?"
We are missing new holdings from Alma in lobid.

Example: \
99371020204206441 created on 2002-05-09, currently no holding data in \
https://alma.lobid.org/resources/search?q=HT021120128&format=json

[2022-05-12 06:46] acka47 commented on #1336
Thanks for the report, Hans-Georg. @blackwinter, can you confirm problems with Alma updates? ( @dr0i unfortunately is on sick leave this week otherwise I'd have asked him.)

[2022-05-12 07:18] blackwinter commented on #1336
@acka47: Yes, your update process has been blocked all week. Every attempt to trigger the [webhook](https://github.com/hbz/lobid-resources/blob/master/web/app/controllers/resources/Webhook.java) results in a `423 - Locked`. But @dr0i told me initially that you (`lobid-admin`?) would be notified in such cases.

[2022-05-12 08:10] acka47 commented on #1336
Hmm, this doesn't seem to work. There weren't any mails like this to lobid-admin...

[2022-05-12 08:13] blackwinter commented on #1336
Well, I don't know the exact address that is configured for the webhook. This was just a guess...

[2022-05-12 08:19] acka47 commented on #1336
@fsteeg just started investigating this. This is a good test for the documentation at https://github.com/hbz/lobid-resources/wiki/Maintaining-Alma.lobid-API I guess...

[2022-05-12 09:09] fsteeg commented on #1336
Seems the update process got stuck, and kept rejecting update requests because it thought an update was running. I've added myself to the list of email recipients for that problem, restarted the app, triggered the updates and we now have DE-290 items in https://alma.lobid.org/resources/search?q=HT021120128&format=json.

[2022-05-12 09:35] hagbeck commented on #1336
Thanks! The holdings are listed and therefore they should be indexed tomorrow.

[2022-05-13 07:04] blackwinter commented on #1336
@fsteeg: You probably already know this but the process got stuck again (`423 - Locked`).

[2022-05-13 09:37] fsteeg commented on #1336
Yes, thanks. For some reason the update process keeps getting stuck during indexing, with no error or hint in `web/logs/application.log` or `web/logs/ETL.log` as far as I can see. Since the fallback server seems to be working fine, I've shut down the main server, resulting in calls to `alma.lobid.org` being routed to the fallback server, so the updates should keep coming in. We will investigate fu

[2022-05-19 08:07] dr0i commented on #1336
Problem is the missing of some millions of docs in the full dump export of Alma. The webhook notices the missing docs and refuses further work (i.a. updates).
To gain more resilience, these things could be done in the Webhook:
- [ ] don't refuse to index updates when building of full index has failed
- [ ] escalate errors to lobid-admin (stick to errors only, reducing the noise of mailing daily 3

[2022-05-19 16:24] dr0i commented on #1336
That was just an educated guess, but it seems not to be the case. It seems to be rather one of these coincidences.
It seems that, just before the unfortunate full dump, there was a `ReceiveTimeoutTransportException`:

org.elasticsearch.transport.ReceiveTimeoutTransportException: [][10.9.0.12:9300][cluster:monitor/nodes/liveness] request_id [3072959] timed out after [6462ms]

This results in a hang

[2022-05-23 07:43] dr0i commented on #1336
ETL of fulldumps and updates successful and stable. Closing.

[2022-05-23 07:43] #1336 closed

[2022-05-24 11:18] acka47 commented on #1313
There exists #1107 as overview ticket with the fields listed in https://github.com/hbz/lobid-resources/issues/1313#issuecomment-914107555.

[2022-05-24 11:24] acka47 commented on #1314
To Do: Read ensuing NWBib mailing list thread and post summary/actions here.

[2022-05-24 11:38] acka47 opened #1338 "Make JSON schema run with newer AJV versions"

[2022-05-24 11:39] acka47 opened #1339 "Add missing fields to JSON schema"
Check against all fields in lobid-aleph and lobid-alma.

[2022-05-24 11:40] acka47 opened #1340 "Make lobid-alma data valid against JSON schema"
https://gist.githubusercontent.com/TobiasNx/007a32d61457dc57e353c5f1cd97a5e0/raw/4e9f525f114c0ab06279d28b2c70854cc5c6cee8/validationError.txt

This is an list of the errors of the test data.

[2022-05-24 11:44] acka47 opened #1341 "Move Alma transformation to Metafix"
- [x] Provide area for the fix transformation. A copy of the ALMA-Morph transformation. (@dr0i)
- [x] Start turning the morph transformation into fix.
- [x] alma.fix #1345
- [x] titleRelatedFields.fix #1345
- [x] contribution.fix #1351
- [x] item.fix
- [x] facets.fix
- [x] fields.fix
- [x] describedBy.fix
- [x] subjects.fix

Take in mind:
- #1340 there is a list of invalidations that need to be ad

[2022-05-24 11:54] TobiasNx opened #1342 "Make GUI for ALMA run?"
At the moment we have no running GUI of the ALMA Transformation. We decided to create this with the ALMA-Fix lobid Transformation and not with the ALMA-Morph.

[2022-05-25 14:51] TobiasNx opened #1343 "URI to lobid are always http instead of https in transformation"
I suggest to change that.

e.g.:
https://github.com/hbz/lobid-resources/blob/4b14daf9302cc8cea455be7d7a9a6f98e53e1cf3/src/main/resources/alma/common/describedBy.xml#L62-L63

[2022-05-27 05:19] TobiasNx commented on #1340
I spottet two errors in the validation process with the test data:

[code]

[2022-05-27 05:25] TobiasNx commented on #1340
@dr0i `/describedBy/resultOf/endTime` is created correctly later in the process (when indexing?) in the transformation process it self there is only "dummi" as value added. Therefore it breaks. Any way that we still could validate these?

[2022-05-27 08:32] dr0i commented on #1340
That's a "feature" as the test files, at whatever date created, comparable. It might be worth to think about using a valid dummy pattern, e.g. 0000-00-00T00:00:00 . Or you could expand the validator to allow "dummy".

[2022-05-27 08:34] TobiasNx commented on #1340
+1 for that

[2022-05-27 09:49] dr0i commented on #1340
Should be fine now. Closing.

[2022-05-27 09:55] TobiasNx commented on #1340
Again I run this with the updates from #1344:

[code]

Still errors

[2022-05-27 09:59] TobiasNx commented on #1340
The item error is due to #1177

[2022-05-27 10:10] TobiasNx commented on #1340
I changed the script so it now returns all errors in #1388.
Also added a file that incorporates all validation-errors at the moment:
https://github.com/hbz/lobid-resources/blob/1338-jsonSchemaUpdate/src/test/resources/validation.txt

[2022-05-27 10:43] dr0i commented on #1343
Done your suggestion.

[2022-05-27 10:44] dr0i commented on #1343
Wait, there are a lot more.

[2022-05-27 10:53] TobiasNx commented on #1343
Yes my example was only one of many.

[2022-05-27 11:00] dr0i commented on #1343
Should be completed now.
@TobiasNx please check.

[2022-06-07 12:08] #1338 closed

[2022-06-07 12:38] TobiasNx opened #1345 "Add `fix` support to lobid ressources"
At the moment it seems that only morph is supported. To move ALMA transformation to Metafix #1341. We need support for Metafix in lobid-ressources.

[2022-06-07 15:30] TobiasNx commented on #1340
List of validation errors: https://gist.githubusercontent.com/TobiasNx/007a32d61457dc57e353c5f1cd97a5e0/raw/4e9f525f114c0ab06279d28b2c70854cc5c6cee8/validationError.txt

[2022-06-07 15:54] TobiasNx commented on #1343
We need to update the schema too:
https://github.com/hbz/lobid-resources/pull/1346

[2022-06-08 11:18] TobiasNx commented on #1340
List of things that do not validate:

- `/hasItem/*/type/*` => expects `item` but due to POR and HOL it also provides other types.
- `oclcNumber` => needs to be an array
- `/publication/*/location'` => needs to be an array
- `/publication/*/publishedBy` => needs to be an array
- `/subject/*/componentList/1` => need type element
- `subject/*` => needs source element
- `/subject/*/type/*` => value m

[2022-06-13 10:20] dr0i commented on #1343
As discussed in standup:
We can't just simply switch to https for RDF data.
We _can_ do this like in [4b6abb0](https://github.com/hbz/lobid-resources/commit/4b6abb06053b9b77a29580ac43408881db1dfbbf).
Other commits should be reverted.
Note to self: don't do code review and functional review in one person.

[2022-06-13 13:45] dr0i commented on #1345
#1347 should enable metafix.  A first example of ETL with alma-fix is provided there, also how to use it. the `fix` are taken from https://github.com/hbz/limetrans/tree/wip/src/main/resources/transformation.
There will be many things not correct yet, e.g. fix variables set in `AlmaMarc21XmlToLobidJsonMetafixTest.java` - we will work that out.

[2022-06-13 14:32] dr0i commented on #1343
Reverted [bd88d02](https://github.com/hbz/lobid-resources/commit/bd88d0220b7cef473bdce8319bb1669703c01cf7).

[2022-06-15 08:15] TobiasNx opened #1348 "ALMA test xmls are not valid MARCXML"
[See here](https://metafacture.org/playground/?flux=PG_DATA%0A%7C+decode-xml%0A%7C+handle-marcxml%0A%7C+encode-json%0A%7C+print%0A%3B&data=%3C%3Fxml+version%3D%221.0%22+encoding%3D%22utf-8%22%3F%3E%0A++%3Crecord%3E%0A++++%3Cleader%3E01187cam%23a2200397%23c%234500%3C/leader%3E%0A++++%3Ccontrolfield+tag%3D%22005%22%3E20210409180628.0%3C/controlfield%3E%0A++++%3Ccontrolfield+tag%3D%22007%22%3Ecr%23%7

[2022-06-17 10:58] TobiasNx commented on #1341
I reopen this ticket, since only the first part is done. The move of the alma transformation to fix will be done in steps over the next weeks.

[2022-06-17 14:12] #1345 closed

[2022-06-17 14:22] TobiasNx commented on #1341
One thing I noticed working with MARC in FIX is that the index-nr and the possible subfields can both have numeric path names. This should be taken in mind.

[2022-06-20 14:01] dr0i commented on #1348
But our [ETL](https://github.com/hbz/lobid-resources/blob/c21685ce23fe223712953f920b33a2228686a24a/src/test/java/org/lobid/resources/AlmaMarc21XmlToLobidJsonTest.java#L161) is working with it.
What looks your flux like?
In java its: `FileOpener->XmlDecoder->MarcXmlHandler` ...

[2022-06-20 14:08] dr0i commented on #1348
ah, uh - and use 'marcXmlHandler.setNamespace(null);` - this prevents a ns-check. In flux, use `| handle-marcxml(namespace=null)`.
Try that. May be it's not working because the `null` must be a `null` and not a string `null`, so that this workaround doesn't work with flux.

[2022-06-20 15:02] TobiasNx opened #1352 "ALMA-Fix: Solve adding a `"contribution"`-object for every "`role`""
@acka47

https://github.com/hbz/lobid-resources/issues/868#issuecomment-405514382

e.g.:
[code]

In order to solve this the hole contributor element needs to be copy the hole contribution object for every contribution role but only keep one role. I don't know how to fix this yet.

[2022-06-20 15:16] TobiasNx opened #1353 "ALMA-Fix: Add test for conference and include info for conference in the new fix"
157c47c191ace660821301145031b921b0b21505 introduced conference but could not be tested.
We need a test for this.

Conference info resides in element "111".

[2022-06-20 15:25] blackwinter commented on #1348
Of course it's documented:

[code]

You can either set it to `null` as @dr0i suggested (if that works in Flux) in order to disable the namespace check or set it to the required namespace value (`"http://www.loc.gov/MARC21/slim"`) in order make the check pass (see metafacture/metafacture-core#331).

This only applies to `boolean` options.

[2022-06-20 15:42] blackwinter commented on #1348
Oh, did you mean the part about disabling the namespace check? Then you're right, that's currently not documented. Sorry if I misunderstood.

[2022-06-21 09:19] TobiasNx commented on #1353
The existing transformation for 111 is a relict of the introx morph not conforming with existing lobid data. Therefore we not only need a test but a complete own transformation.

Infos for conferences should be included in contribution as `contribution.agent.type`: https://lobid.org/resources/search?q=contribution.agent.type%3AConferenceOrEvent

[2022-06-23 07:03] TobiasNx commented on #1343
This looks good now. +1

[2022-06-23 07:03] #1343 closed

[2022-06-30 08:39] TobiasNx opened #1356 "ALMA-FIX: "POR"-Transformation?"
What was the problem we had transforming "POR" information with Morph. There are something with an repeated field,
`POR## $$A` and `POR## $$a`

Do you remember what the issue was?

[2022-06-30 11:07] blackwinter commented on #1356
AFAIR, you needed to create a `hasItem` per `POR$$A` (with data from `POR`). Morph can't do that (reliably), with Fix it's easy :)

[2022-07-11 09:20] TobiasNx opened #1357 "Schema: type value "ArchivalResource" that are not used/part of transformation?"
I checked the schema, the transformation and the aggregation http://lobid.org/resources/search?format=json&aggregations=type.

It seems that ArchivalResource is not used or transformed at all?
Is this an error, @acka47

[2022-07-11 10:42] TobiasNx commented on #1314
Is an article only an article if it is part of an monograph, or also of a series book and an issue of an continues ressource?

[2022-07-25 06:59] acka47 opened #1358 "Missing Alma updates"
@hagbeck writes today:

I started investigating whether this is a problem on our side or on the provision side.

[2022-07-25 07:32] acka47 commented on #1358
On 25.07.22 09:18, @blackwinter  wrote:

[2022-07-28 14:52] dr0i commented on #1358
I had to restart and update manually. Should be fine now. Can you confrm @hagbeck ?

[2022-07-29 06:05] hagbeck commented on #1358
I can confirm. Thanks!

[2022-07-29 06:35] acka47 commented on #1358
Closing

[2022-07-29 06:35] #1358 closed

[2022-08-02 07:55] hagbeck opened #1359 "Alma: NZ resources from CZ"
Hi,

in NZ exists resources from CZ which are not directly linked to the IZ. These resources are in the IZ from CZ, too. The NZ resources are marked as "held by institution" in Alma. Examples: 99370703206706441, 99370703864506441, 99370706268806441\
The problem is, that our discovery service is unable to link these NZ resources to the "real" holdings from our IZ.

From a discussion with hbz collea

[2022-08-02 08:19] blackwinter commented on #1359
I'm not sure I totally follow your scenario, but you can search for `All Titles where (Other System Number (035a) Exact starts with "(CKB)")` in the relevant zone (institution/network/community).

[2022-08-02 08:28] hagbeck commented on #1359
@blackwinter you are right. This are ca. 1,3 records. but it is not possible to limit this results to "held by 290".

[2022-08-02 09:28] acka47 commented on #562
DNB fixed the errors and implemented a quality check whether there are errors with birth data > death date. Removing the "upstream" label.

[2022-08-02 09:53] blackwinter commented on #1359
I'm sorry, I don't think I understand what you're trying to achieve here. Maybe the lobid team can be of assistance.

[2022-08-03 10:00] TobiasNx commented on #1359
Hi @hagbeck, I am back from vacation. Where and with whom did you discuss this? I try to get some context concerning the problem.
Where is "held by 290" stated to narrow down CBK?
Perhaps we could revive our videocall on friday with @dr0i and get more details.

[2022-08-03 10:46] hagbeck commented on #1359
@TobiasNx I discussed that with Natascha Dahmenfrom from the Alma NZ view. But I think, a revive of our videocall makes sense in this complex case.

[2022-08-03 11:01] TobiasNx commented on #1359
Still could you give an example where held by is stated?

[2022-08-03 12:25] hagbeck commented on #1359
The examples 99370703206706441, 99370703864506441, 99370706268806441 are in the NZ from CZ with prefix (CKB) in 035$a. In the Alma NZ WebUI is shown "held by". This results by the publishing processes in a lobid resource with a holding for 290.\
But this NZ-MMS-IDs have no direct links to the IZ and are therefore useless for us.

... But wait: The missed IZ-MMS-ID is contained in the lobid-resourc

[2022-08-03 14:37] hagbeck commented on #1359
Hi,
this issue isn't relevant any more, because lobid-resource has already solved my problem :-) Sorry for the confusion!

The link between the resources is in lobid by the `label` or `id` in case of `type=MBD` in:

[code]
The NZs 99370703206706441 is therefore linked with the IZs 991013480109306445 and everything is fine :-)

[2022-08-03 14:37] #1359 closed

[2022-08-05 11:29] dr0i opened #1360 "FixProcessException: Can't find: $last in: null"
Following up #1341 following error for resource `990063549080206441` occurs:
[code]

[2022-08-05 11:53] TobiasNx commented on #1360
Should be fixed with https://github.com/hbz/lobid-resources/pull/1354/commits/7a185e3fbd607ba48bae96577074aad78ce220e6

[2022-08-05 16:03] dr0i commented on #1360
It's not fixed.
Added the resource in question and improved logging. Also, `AlmaMarc21XmlToLobidJsonMetafixTest` was not part of the automatically executed UnitTest.

To test reasonable fast:
[code]

You will see the failing of the test. Look at the 'ERROR' outputs, there is also the name of the failing XML logged.

[2022-08-08 07:32] TobiasNx commented on #1360
Okay you are right
should be fixed now.

[2022-08-08 07:57] TobiasNx opened #1362 "ALMA-Fix: Improve Documentation of Fix-Transformation"
Each transformation block should have a short description of the element that is transformed and state if it is Repeatable or Non-Repeatable.

e.g.:
`# 022 (R) Subfield a (NR)`

eventually give the name of the top level element.

[2022-08-08 07:58] TobiasNx commented on #1356
@dr0i  could you have a look if this can be closed?

[2022-08-08 08:24] TobiasNx opened #1363 "Find documentation for ALMA-Marc specific elements"
Is there a documentation for:
"POR", "ITM", "MNG" etc.

I do not find any online?

[2022-08-08 09:21] TobiasNx opened #1365 "ALMA-Fix: Clean up Fix files"
Delete all unnecessary morph code that is commented out.

[2022-08-08 09:44] TobiasNx opened #1366 "ALMA-Fix: How to deal with Confrences?"
The Alma Morph had a `conference`-element that does not exist in lobid.
How should we deal with `conferences`?

[2022-08-08 12:29] TobiasNx opened #1367 "ALMA-Fix: Add `hasVersion`"
This not yet added.

https://github.com/hbz/lobid-resources/blob/e4d172608a1a58b84c8684092fb8cdab2b001aaf/src/main/resources/alma/fix/fields.fix#L538-L539

[2022-08-08 14:08] dr0i commented on #1360
Merged, closing.

[2022-08-08 14:08] #1360 closed

[2022-08-08 14:26] dr0i commented on #1356
Commits are already in master. So yeah, closing.

[2022-08-08 14:26] #1356 closed

[2022-08-08 14:28] dr0i commented on #1363
No idea - unassigning myself.

[2022-08-08 14:43] dr0i opened #1368 "FixExecutionException: Expected Array or Hash, got String"
Following up https://github.com/hbz/lobid-resources/issues/1341 following error for resource 991000688209706449 occurs:

[code]

[2022-08-09 14:14] dr0i commented on #1368
Done, cloing.

[2022-08-09 14:14] #1368 closed

[2022-08-09 14:20] TobiasNx opened #1370 "ALMA-Fix: 020 $$a in source data is repeated while schema says NR breaks fix"
Schema say 020 subfield $ a is not repeatable (https://www.loc.gov/marc/bibliographic/bd020.html)
Source data provides unvalid repetition (https://alma.lobid.org/marcxml/99370763433806441)

[code]
This breaks the fix.

[code]

[2022-08-09 15:05] TobiasNx opened #1372 "ALMA-Fix: Error with contribution label `replace_all`"
[code]

Need to find the related file.

[2022-08-09 16:38] TobiasNx commented on #1372
@dr0i can you help. I do not know which file causes the error.

[2022-08-10 07:44] TobiasNx opened #1373 "Properly model MBD, POR, H52, ITM, etc."
At the moment these are all modeled as `hasItem` but they are not all `Item`s therefore we should remodel these.
At first we need better documentation what the elements represent. #1363

[2022-08-10 07:59] TobiasNx opened #1374 "ALMA-FIx: Add `publication`-Element"
[code]

the corresponding fix transformation in `titleRelatedFields` is missing.
Have a look at the schema specifics since there need to be set some arrays. #1340

[2022-08-10 14:40] blackwinter commented on #1363
These are defined in the publishing profile which is documented [here](https://service-wiki.hbz-nrw.de/pages/viewpage.action?pageId=612532300).

[2022-08-10 15:11] blackwinter commented on #1372
There should be a `DEBUG` log on the preceding line indicating the current record. Maybe that helps?

[2022-08-11 09:01] TobiasNx opened #1377 "ALMA-Fix: `replace_all("hbzId","\\(DE-605\\)(.*)","$1")` breaks due to Expected String, got Array"
990128175850206441 breaks.

[code]

[2022-08-11 09:14] TobiasNx commented on #1377
[code]

I tested it locally with a singular testfile and I cannot recreated the above error.

[2022-08-11 12:13] #1370 closed

[2022-08-11 12:16] dr0i commented on #1362
I think this can be closed? The referenced commit is already in master.

[2022-08-11 12:17] #1362 closed

[2022-08-11 14:45] dr0i commented on #1372
Set the `info` level in the two files ` src/main/resources/log4j*` to `debug`. Expect getting much more data.

[2022-08-12 07:30] TobiasNx commented on #1377
Solved by #1378

[2022-08-12 07:30] #1377 closed

[2022-08-12 09:51] #1352 closed

[2022-08-12 10:04] dr0i opened #1380 "Trigger Webhook after ETL finishes successfuly"
After ETL of ALMA updates or basedumps a Webhook-Listener should be called.
This "push" event is useful for customers like @hagbeck to be informed timely.

[2022-08-12 11:39] TobiasNx commented on #1340
At the moment there are three schema problems left:

HT017664407 -> only has no type besides BibliographicRessource, schema requires at  least 2 types. Was Periodical in the old transformation but cannot unambiguously be identified as "Periodical" should have another look.

subjects that are no "Concepts" and no "ComplexSubject" are typed as "Keyword" this is unvalid, how can we proceed with that

[2022-08-12 13:29] TobiasNx commented on #1374
Publication is added, but the regexp for the cleaning must be fixed.

[2022-08-15 07:54] TobiasNx commented on #1282
@acka47: a first version is included in the ALMA-Fix Transformation:

https://github.com/hbz/lobid-resources/blob/a438beafa5b2e42c657e22f8e4c40ed729cb70e5/src/main/resources/alma/fix/contribution.fix#L179-L187

Could you have a look if that is okay for you?

[2022-08-15 12:29] TobiasNx opened #1383 "ALMA-Fix: Add `spatial`-element"
This element is relevant for NWBib spatial ist yet missing.

[2022-08-15 12:30] acka47 commented on #1282
+1 Looks good for me. We'll also be able to tweak it later when users notice strange roles.

[2022-08-15 13:53] TobiasNx commented on #1383
@acka47 or @dr0i

Is there a way I can identify if nwbib spatial concepts from subjects?

In ALMA is:
[code]

in Aleph:
[code]

This is related to this:
https://github.com/hbz/lobid-resources/pull/1045

[2022-08-15 16:28] dr0i commented on #1380
Deployed, should run daily from now on. To be tested.

[2022-08-16 12:40] TobiasNx commented on #1358
Is still a problem? http://lobid.org/hbz01/HT021429811 The MAB file is not accessable? @fsteeg suggested to ask here.

[2022-08-16 12:52] TobiasNx opened #1388 "ALMA-Fix: Add nwbib subjects"

[2022-08-16 13:52] TobiasNx opened #1390 "ALMA-FIX: Links and relation metadata"
- [ ] `sameAs`
- [x] `fulltextOnline[]`
- [ ] `hasVersion[]`
- [x] `similar[]`
- [x] `bibliographicCitation`
- [x] `containedIn[]`
- [x] `supplement[]`
- [x] `description[]`
- [x] `primaryForm[]`
- [x] `seeAlso[]`

These need to be added to the transformation.
These are quiet difficult to reconstruct from the old morph and many are buidling from the same Aleph elements `655`, `59?`, and `52?`

[2022-08-17 07:29] TobiasNx commented on #1367
https://github.com/hbz/lobid-resources/issues/1242

we outcommented `hasVersion` for a reason, since the mapping is not matching suitable for the concept https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/hasVersion

See also:
https://github.com/hbz/lobid-resources/issues/1242#issuecomment-832483535
https://github.com/hbz/lobid-resources/issues/1242#issuecom

[2022-08-19 08:22] dr0i commented on #1380
Seems to work, as @hagbeck reported. Closing.

[2022-08-19 08:22] #1380 closed

[2022-08-22 08:56] TobiasNx commented on #1372
@dr0i found 99370763882706441 as an record that creates this error.

[2022-08-22 09:28] TobiasNx commented on #1372
The error is due to an invalid MARC21 file:

[code]

Subfield 700 $a is not repeatable but the real data of 99370763882706441 has a repeated 700 $a subfield

 https://www.loc.gov/marc/bibliographic/bd700.html

[2022-08-22 13:17] TobiasNx commented on #1372
Since the included data is duplicate (also given in `100`) and no roles are given. Also this is an unusual error. I decided to skip `700` elements that have an repeated subfield `$a`

[2022-08-22 13:22] dr0i commented on #1372
Going to test your fixing branch https://github.com/hbz/lobid-resources/pull/1395.

[2022-08-22 15:35] TobiasNx commented on #1390
@acka47 primaryForm transformation in ALEPH MORPH say it links to primary and secondary form and vice versa. Isn't this contradicting the relation primaryForm and only true for the http://purl.org/dc/terms/isFormatOf which is the URI behind `primaryForm`.

https://github.com/hbz/lobid-resources/blob/69d0c8b011f83905e0114fc0a79069c86ab1e084/src/main/resources/morph-hbz01-to-lobid.xml#L1469-L1474

I

[2022-08-22 15:37] TobiasNx commented on #1390
What is the difference between `sameAs` and `similar`?

[2022-08-22 15:38] #1388 closed

[2022-08-22 15:41] TobiasNx commented on #1383
For the moment excluded elements without URI.

Also `coverage` and geocoordinates need to be added at a later stage.

[2022-08-23 08:59] TobiasNx opened #1400 "Document differences between linked ressources"
We have a couple of elements that link other ressources mainly within lobid or zbd, but there is no real documentation of this,
some are documented here: https://lobid.org/resources/api

`related`: no documentation
[code]

`isPartOf`: Enthält Informationen zum Erscheinen der Ressource als Teil eines übergeordneten Werks (eines, mehrbändigen Werks, einer Serie oder eines Periodikums).

[code]

`sup

[2022-08-24 08:42] nichtich commented on #819
Happy to collaborate on this. See <https://doi.org/10.5281/zenodo.7016625> and <https://github.com/gbv/k10plus-subjects>. Missing links seems to map lobid URIs and K10plus PPN URIs. I checked K10plus but only around 6% of records contain identifier of OCLC, LOC, HBZ or another union catalog (other than SWB and GBV). Maybe https://www.agv-gvi.de/ can help?

[2022-08-24 09:30] TobiasNx commented on #1400
`similar` seems to be controversial: https://github.com/hbz/lobid-resources/search?q=umbel&type=issues

[2022-08-24 09:39] TobiasNx commented on #1123
This is done for ALMA-FIX

[2022-08-24 09:45] TobiasNx opened #1406 "ALMA-Fix: Add `predecessor` and `successor`"

[2022-08-24 09:51] acka47 commented on #1400
There are some high-level semantic web intricacies behind this, see e.g. https://wiki.dnb.de/pages/viewpage.action?pageId=68061169:

 Ist nicht zweifelsfrei zu klären, ob ein URI tatsächlich für eine identische Ressource steht oder sie nur zum Thema hat (siehe Beispiele), darf die Aussage der absoluten Gleichheit auf keinen Fall erfolgen. In dieser Situation kann mit den Properties [schema:sameAs]

[2022-08-24 09:54] nichtich opened #1407 "Provide Occurrences-API"
As part of coli-conc we created an [Occurrences-API](https://coli-conc.gbv.de/occurrences/) to query occurrences and co-occurrences of identified subjects in K10plus. For simple occurrences the API serves one use case:

It's just one query parameter `member` with URI if the SKOS concept (e.g. `https://d-nb.info/gnd/2015876-2`).

In lobid API this would need to be translated to http://lobid.org/res

[2022-08-25 06:19] acka47 commented on #1367
In https://github.com/hbz/lobid-resources/issues/1242#issuecomment-832483535 @TobiasNx quotes this from https://github.com/hbz/lobid-resources/issues/441#issuecomment-305173534 to show problems with `hasVersion`:

However, if I understand correctly, this statement was updated in https://github.com/hbz/lobid-resources/issues/441#issuecomment-306433314:

However, this refers to some test set. I'd ne

[2022-08-25 07:20] dr0i commented on #819
Thx @nichtich for reminding and the additional infos - we hope to pick up this year.
Related to https://github.com/hbz/lobid-resources/issues/1058 .

[2022-08-25 07:45] TobiasNx commented on #1367
https://wiki.dnb.de/pages/viewpage.action?pageId=68061169

here is a definition of `hasVersion` that I find plausible: "

Parallele Ausgabe (zum Beispiel andere Sprache)

[dct:hasVersion](http://purl.org/dc/terms/hasVersion)

URI"

the refrence all 655 but toC etc. was based on the ALEPH-Morph not just the test set.

[2022-08-25 08:35] TobiasNx opened #1409 "ALMA-Fix: Identify errors from log"
- [x] `describedBy.sourceOrganization.id`
[code]
Beispiel: 990015048200206447. Grund: invalides Wiederholtes Feld 040.a
________________

- [x] `supplement[].*.id`

[code]
Beispiel: 991005935279706485, Reason: Seems to be an array. Multiple $w subfields. Need to introduce filter that only id's for ZDB or HBZ are allowed.

____________
- [ ] `publication[]`

[code]

Beispiel: 99371087584606441,

__

[2022-08-25 08:52] dr0i opened #1410 "Add label to 'containedIn'"
See https://github.com/hbz/lobid-resources/pull/1402#pullrequestreview-1085042546 (click on "show resolved").

[2022-08-25 09:05] dr0i opened #1411 "Add data about collections"
Some resources are linked to e.g. https://lobid.org/collections#vl-ulbd . The URL should resolve.

- [ ] identifiy and add data to all ` https://lobid.org/collections`
- [ ] make the URL resolvable

Came up in https://github.com/hbz/lobid-resources/pull/1403#pullrequestreview-1085027482.

[2022-08-25 09:22] dr0i commented on #1406
Fixed by #1408, right @TobiasNx ? Then you an close this.

[2022-08-29 09:52] acka47 commented on #1407
We won't be able to implement this in the coming months. Unassigning for now.

[2022-08-29 10:02] acka47 commented on #1411
Won't fix. We are using the URIs as IDs only and said in the past that we would add RDF only if needed, see https://github.com/hbz/lobid-resources/issues/1052#issuecomment-598137600. Closing

[2022-08-29 10:02] #1411 closed

[2022-09-01 12:46] acka47 opened #1419 "publication.publicationHistory is recorded for too many resources"
E.g. all monographs currently have this information although it should only be found in descriptions of series and periodicals: `$ curl "https://alma.lobid.org/resources/search?q=type:Book&format=json" | jq .member[].publication[].publicationHistory`

The question is how to filter for resources that might contain this field. One way might be to only add this for ZDB resources.

[2022-09-02 10:00] TobiasNx commented on #1409
[code]

[2022-09-02 10:06] dr0i commented on #1409
yes, indeed. Have to look into this.

[2022-09-02 10:45] TobiasNx commented on #1409
I tested the logged records they produce no errors locally. https://github.com/hbz/lobid-resources/pull/1422

[2022-09-02 10:52] TobiasNx commented on #1409
Also these errors I cannot reproduce locally: https://github.com/hbz/lobid-resources/pull/1422

[2022-09-02 11:17] TobiasNx commented on #1409
I tested these errors with the stated records but I cannot reproduce any of the errors: #1423 and #1422

[2022-09-02 11:25] blackwinter commented on #1409
Some of these errors seem to indicate race conditions. Could it be that Metafix just isn't thread-safe?

If you then run the transformation with fewer records or a different number of threads, you might not trigger these race conditions (which are inherently difficult to reproduce).

[2022-09-02 12:57] dr0i commented on #1409
Yep , at least `ConcurrentModificationException` seems to proof that. This also _might_ explain the (in this t"hreaded" context) experienced exponential run time (which also comes with, and may explain, the lot of allocated MEM (going up to >14GB ).

[2022-09-02 13:44] blackwinter commented on #1409
Can you open an issue for potential race conditions and provide stack traces for the ones you encountered? `IllegalStateException: Key '0' already used` might be another (semi-)obvious candidate.

[2022-09-05 09:52] dr0i commented on #1409
Thx @blackwinter , opened https://github.com/metafacture/metafacture-fix/issues/255.

[2022-09-05 09:54] dr0i commented on #1409
Closing this one.

[2022-09-05 09:54] #1409 closed

[2022-09-06 12:44] TobiasNx commented on #1365
Done by https://github.com/hbz/lobid-resources/commit/ddc7a387b47596c962265690a2e7f2e6d893f4fb

[2022-09-06 12:44] #1365 closed

[2022-09-08 12:58] blackwinter commented on #1363
Can this issue be closed?

[2022-09-09 07:01] TobiasNx commented on #1366
This should be fixed with #1424 too

[2022-09-09 07:03] TobiasNx opened #1425 "ALMA-Fix: Lookup DDC-Labels"
Since the real lookup is hidden at the server, i did not set this up yet.

[2022-09-09 07:49] acka47 commented on #1366
This is assigned to me but the issue misses information for me to add to the discussion:

- About which MARC21 field(s) are we talking? – I guess it is 111.
- How does an MARC21 example snippet look like?
- What is the relation to #1353?

If we are talking about MARC field 11, we should take orientation from Bibframe and pull it into the `contribution` array. See the file `[Fields 1XX, 7XX, 8XX –

[2022-09-09 08:00] TobiasNx commented on #1366
should have been more specific:

is the result okay:
https://github.com/hbz/lobid-resources/pull/1424/commits/43542fb811d967e7e5101b109743c9a2b04ae5c1

[2022-09-09 08:24] acka47 commented on #1366
Adding example MARC21 snippets for context:

https://github.com/hbz/lobid-resources/blob/d8af6b7f2c4434c4cc69565737c109ffa182b0cd/src/test/resources/alma-fix/990011470300206441.xml#L71-L80

https://github.com/hbz/lobid-resources/blob/d8af6b7f2c4434c4cc69565737c109ffa182b0cd/src/test/resources/alma-fix/990065341720206441.xml#L50-L60

https://github.com/hbz/lobid-resources/blob/d8af6b7f2c4434c4cc695

[2022-09-09 08:52] acka47 commented on #1366
See also this related old ticket about conference labels: https://github.com/hbz/lobid-resources/issues/696

[2022-09-13 10:10] TobiasNx commented on #1363
Yes thanks

[2022-09-13 10:10] #1363 closed

[2022-09-15 13:47] acka47 commented on #1310
This will now be added to OERSI, see https://gitlab.com/oersi/oersi-etl/-/issues/108. As you now can get the structured data from there via API, we can close this issee.

[2022-09-15 14:10] dr0i commented on #1162
Yeah. Thx for pointing. Closing.

[2022-09-15 14:10] #1162 closed

[2022-09-15 15:52] TobiasNx opened #1429 "Alma-Fix: Invalid Data"
I identified three invalidities in the transformed ALMA-Fix-Data:

[code]
The transformation does not produce a second `type`: https://github.com/hbz/lobid-resources/blob/1ba224dd9a68cc4e9f21e4a645167f0d82964557/src/test/resources/alma-fix/990197023370206441.json#L119-L120
______________
**Free tags** do not produce a fitting `type`-Value:
https://github.com/hbz/lobid-resources/blob/1ba224dd9a68cc

[2022-09-15 15:56] TobiasNx commented on #115
This could be introduced in ALMA FIX, or @acka47

[2022-09-15 15:57] TobiasNx commented on #434
This could be introduced with ALMA-Fix, @acka47

[2022-09-15 15:59] TobiasNx commented on #508
Should this be taken up in @acka47 in ALMA-Fix?

[2022-09-15 15:59] TobiasNx commented on #509
Should this be taken up in @acka47 in ALMA-Fix?

[2022-09-15 15:59] TobiasNx commented on #519
Could be fixed with ALMA-Fix.

[2022-09-15 16:00] TobiasNx commented on #526
Is this relevant for ALMA-Fix @acka47

[2022-09-15 16:06] TobiasNx commented on #592
Should this be taken up in @acka47 in ALMA-Fix?

[2022-09-15 16:07] TobiasNx commented on #681
Should we reconsider this since this was tested NWBIB https://github.com/hbz/nwbib/issues/560

[2022-09-15 16:10] TobiasNx commented on #691
In ALMA-Fix we also introduced: LCSH. Others should be introduced too

https://github.com/hbz/lobid-resources/blob/1ba224dd9a68cc4e9f21e4a645167f0d82964557/src/main/resources/alma/fix/subjects.fix#L50-L57

[2022-09-15 16:12] TobiasNx commented on #706
This could be fixed in ALMA-Fix

[2022-09-15 16:15] TobiasNx commented on #877
We should check if there are authors/creators without role and how to fix this in ALMA-Fix.

[2022-09-15 16:17] TobiasNx commented on #916
We could check if this is relevant for ALMA-Fix and filter out all without labels.

[2022-09-16 07:02] acka47 commented on #1099
Closing this as this is a problem with Aleph data we won't fix anymore. If this also comes up validating the transformed Alma data, we can create a dedicated issue.

[2022-09-16 07:02] #1099 closed

[2022-09-16 07:03] acka47 commented on #1081
Closing this as this is a problem with Aleph data we won't fix anymore. If this also comes up validating the transformed Alma data, we can create a dedicated issue.

[2022-09-16 07:03] #1081 closed

[2022-09-16 07:08] acka47 commented on #704
As no partner/lobid user has requested this and everybody seems ok with the current data, I am closing this.

[2022-09-16 07:08] #704 closed

[2022-09-16 07:23] acka47 commented on #906
Nobody asked for this, so I am closing this for now.

[2022-09-16 07:23] #906 closed

[2022-09-16 07:29] acka47 commented on #941
Is this still a problem with MARC21 from Alma, @TobiasNx ? Did you encounter anything like this. If not, please close the issue.

[2022-09-16 07:41] acka47 commented on #1030
@dr0i Does this problem still exist? Shouldn't we open issue over at metafacture-core then and close this one?

[2022-09-16 07:49] TobiasNx commented on #941
I dont think so, also we introduced all marc-relators with: https://github.com/hbz/lobid-resources/pull/1293 and also use this in ALMA-Fix.

[2022-09-16 07:49] #941 closed

[2022-09-16 07:51] TobiasNx commented on #951
@fsteeg can this be closed?

[2022-09-16 09:00] dr0i commented on #1030
Problem still exists. Opened https://github.com/metafacture/metafacture-core/issues/466. Closing this one.

[2022-09-16 09:00] #1030 closed, assigned to dr0i

[2022-09-19 06:18] hagbeck opened #1430 "Trigger Webhook after ETL - timing issue?"
Hi,
since last week we observed some problems with the webhook. It seems that at the time we get the trigger and start our ETL the data in lobid is not stable. If we wait for a few minutes starting our ETL the data is fine. Is there a timing problem in your process?

[2022-09-19 09:33] dr0i commented on #1430
Do you experience this behaviour only after *basedump* indexing (this month's weeks always at Saturdays) or everytime, i.e. also when *updating* the index (every other day of the week)? I just discovered that the webhook is triggered _before_  the newly created index is switched (done only when doing full basedump ETL). There is a time gap of **10s to 20s**. Fixing that is easy.

If you experience

[2022-09-19 09:41] hagbeck commented on #1430
Last Tuesday and Wednesday there were no results at request time (ca. 3 minutes after the trigger) and on the other days the data was not fully updated.
In the first case restarting our process solves the problem.
In the last case we missed data in our system, which was a few minutes later available.

Today I added a delay of a few minutes in our process to prevent empty lobid results.

[2022-09-19 09:50] dr0i commented on #1430
Thx @hagbeck for the infos.
I will just add the 5 minute safety distance.

[2022-09-19 12:33] dr0i commented on #1430
Deployed hot fix https://github.com/hbz/lobid-resources/pull/1431.

You may test this, if you wish. Comes now with 5 minutes safety distance.
Thx for reporting in any case!

[2022-09-20 08:07] dr0i opened #1432 "Notify after _all_ threads have finished ETL"
Could well be, that the threading mechanism is responsible for the experienced time lags in #1430 : if the fastest thread determines further processing the "hooray" comes before the slowest ETL thread has finished.

[2022-09-23 10:14] TobiasNx opened #1433 "ALMA-Fix: Redirect for hbzId-lobid-URL to ALMAMMSId-lobid-URL"
With ALMA hbzId also known as "HT-Nummern" are discontinued for new catalog entries. Old entries keep them but new ones will not have any. They only have the ALMA-MMS-Ids. These will be the new leading ids for the entries.

To keep the old URIs of lobid-ressources we need a redirect from the hbzId-lobid-URL to the ALMAMMSId-lobid-URL.

This still needs refinement since it is not clear where the re

[2022-09-23 10:16] TobiasNx opened #1434 "ALMA-Fix: Replace ALMA-Morph with ALMA-Fix"
Since Dortmund is happy with the number of their resources we can replace ALMA-Fix later this week.

FYI: @hagbeck and @UBmakla

[2022-09-23 11:12] fsteeg commented on #1342
Will implement for https://test.lobid.org/resources when that is switched to the Fix-transformed Alma index.

[2022-09-23 12:01] TobiasNx commented on #1425
Is this working now? @dr0i ? Could you have a look at the index?

[2022-09-26 10:20] TobiasNx opened #1435 "ALMA-Fix: Set up productive ALMA-Fix Index workflow at test.lobid.org/ressources"

[2022-09-26 13:52] dr0i commented on #1430
Checked again, also fulldump is using the safety distance. Should all be good here. If the problem shows up again simply reopen this issue.
Closing for now.

[2022-09-26 13:52] #1430 closed

[2022-09-27 10:59] TobiasNx commented on #1435
@hagbeck: To give you a heads up. We are about to have a better ALMA-Transformation with Fix that we would like to test with you so that we can switch it to the productive system.

[2022-09-27 11:26] dr0i commented on #1435
As mentioned today at standup, this is not ready yet. The index `resources-alma-fix` was build with morph due to a configuration failure.

[2022-09-27 11:50] TobiasNx commented on #1435
I didn't say it is ready ;-)

[2022-09-28 11:28] TobiasNx commented on #1307
This might be solvable with ALMA-Fix.

[2022-09-28 11:29] TobiasNx commented on #1282
ALMA-FIX add default roles.

[2022-09-28 11:29] #1282 closed

[2022-09-28 11:30] TobiasNx commented on #1177
This is related to #1373

[2022-09-28 11:32] TobiasNx commented on #1002
ALMA-FIX can do this. @acka47 : We won't fix this for ALEPH right?

[2022-09-28 11:54] TobiasNx commented on #916
@acka47 This seems to be no problem with ALMA-FIX: https://github.com/hbz/lobid-resources/pull/1437. Should we close this ticket, since we do not fix the ALEPH-Transformation.

[2022-09-28 12:05] TobiasNx opened #1438 "How to deal with organisations outside of lobid-organisation"
https://github.com/hbz/lobid-resources/blob/2ae7b86259115ee3fa8693e3ba16ebda2739ca54/src/main/resources/alma/fix/describedBy.fix#L66-L94

e.g.

https://github.com/hbz/lobid-resources/blob/2ae7b86259115ee3fa8693e3ba16ebda2739ca54/src/test/resources/alma-fix/99370682219806441.json#L48-L59

https://github.com/hbz/lobid-resources/blob/2ae7b86259115ee3fa8693e3ba16ebda2739ca54/src/test/resources/alma-fi

[2022-09-28 12:07] TobiasNx opened #1439 "`doi`-Element always URI or just the code?"
https://github.com/hbz/lobid-resources/blob/2ae7b86259115ee3fa8693e3ba16ebda2739ca54/src/main/resources/alma/fix/identifiers.fix#L70-L78

[2022-09-28 12:09] TobiasNx opened #1440 "Òbjects created from ITM create duplicates"
https://github.com/hbz/lobid-resources/blob/2ae7b86259115ee3fa8693e3ba16ebda2739ca54/src/main/resources/alma/fix/item.fix#L45-L61

Need to find example.

[2022-09-28 12:10] TobiasNx opened #1441 "Miscellaneous is the only english medium label"
https://github.com/hbz/lobid-resources/blob/2ae7b86259115ee3fa8693e3ba16ebda2739ca54/src/main/resources/alma/fix/maps.fix#L31-L45

Should we change this to "Sonstige"? Has this consequences for the GUI?

[2022-09-28 12:15] TobiasNx opened #1442 "Exlude Reviews as Abstracts"
https://github.com/hbz/lobid-resources/blob/2ae7b86259115ee3fa8693e3ba16ebda2739ca54/src/main/resources/alma/fix/otherFields.fix#L97-L103

We include Reviews as abstracts, shouldn't we exclude them from `abstract[]`
For further MARC info see: https://www.loc.gov/marc/bibliographic/bd520.html

[2022-09-28 12:18] TobiasNx opened #1443 "Use extent from limetrans"
https://github.com/hbz/lobid-resources/blob/2ae7b86259115ee3fa8693e3ba16ebda2739ca54/src/main/resources/alma/fix/otherFields.fix#L21-L86

Our old transformation for extent was very basic, only copied a string. Limetrans has a more advanced version that also normalizes the info. We adapted the limetrans transformation, should we keep it?

[2022-09-28 12:21] TobiasNx opened #1444 "Remodel `bibliographicCitation`?"
https://github.com/hbz/lobid-resources/blob/2ae7b86259115ee3fa8693e3ba16ebda2739ca54/src/main/resources/alma/fix/otherFields.fix#L111-L131

Should we remodel `bibliographicCitation`? so it fits the broader concept? Or only keep it for articles?

[2022-09-28 12:33] TobiasNx commented on #1123
# publisso

https://github.com/hbz/lobid-resources/blob/2ae7b86259115ee3fa8693e3ba16ebda2739ca54/src/main/resources/alma/fix/relatedRessourcesAndLinks.fix#L365-L375

@dr0i could you check if the number of publisso ressources are the same or if I need to improve the transformation.

[2022-09-28 12:38] TobiasNx commented on #1123
https://github.com/hbz/lobid-resources/blob/2ae7b86259115ee3fa8693e3ba16ebda2739ca54/src/main/resources/alma/fix/relatedRessourcesAndLinks.fix#L349-L358

@acka47: Is src/test/resources/alma-fix/(CKB)5280000000199164.xml also an EZB record?

[2022-09-28 12:40] TobiasNx opened #1445 "Deduplicate `subject`"
Since fix is only able to dedpublicate array of strings we should find a way to deduplicate subjects which are array of objects.

https://github.com/hbz/lobid-resources/blob/2732e7bee33737071a9b5ea29ee70b1e0598008b/src/main/resources/alma/fix/subjects.fix
Check the TODOS in this file.

[2022-09-28 12:42] TobiasNx opened #1446 "Distinguish PublicationEvent and SecondaryPublicationEvent?"
https://github.com/hbz/lobid-resources/blob/67b55015a380e68bf1d15dbb4374f0e32a40929d/src/main/resources/alma/fix/titleRelatedFields.fix#L58-L122

TODO is there a way to distinguish PublicationEvent and SecondaryPublicationEvent?

[2022-09-28 12:46] TobiasNx opened #1447 "Medium Audio-Kassette -> GUI label Tonband"
https://github.com/hbz/lobid-resources/blob/2ae7b86259115ee3fa8693e3ba16ebda2739ca54/src/main/resources/alma/fix/mediumAndType.fix#L89-L95

Tonband is a broader concept than Kassette. Should we fix this?

[2022-09-28 12:49] TobiasNx opened #1448 "Exclude Slide/Dia and Transparency from Medium Video"
https://github.com/hbz/lobid-resources/blob/2ae7b86259115ee3fa8693e3ba16ebda2739ca54/src/main/resources/alma/fix/mediumAndType.fix#L97-L131

Slide/Dia and Transparency are transformed to Medium Video/Audio-Visuell.
I would suggest to exclude these. But how do we include them?

[2022-09-28 12:52] TobiasNx commented on #827
https://github.com/hbz/lobid-resources/blob/2ae7b86259115ee3fa8693e3ba16ebda2739ca54/src/main/resources/alma/fix/mediumAndType.fix#L134-L153

Braille is set as URI but the label is Blindenschrift. The MARC 007 info is broader: https://www.loc.gov/marc/bibliographic/bd007f.html

Do we need a broader concept for Bilndenschrift?

[2022-09-28 12:54] TobiasNx opened #1449 "Should Kit and MixedMaterial always be sorted as medium Print?"
https://github.com/hbz/lobid-resources/blob/2ae7b86259115ee3fa8693e3ba16ebda2739ca54/src/main/resources/alma/fix/mediumAndType.fix#L157-L186

For Marc-Info see: https://www.loc.gov/marc/bibliographic/bdleader.html

[2022-09-28 12:57] TobiasNx opened #1450 "Can Manuscripts also be Prints?"
https://github.com/hbz/lobid-resources/blob/ac8c976fa7f19b32adc2261d9623b0dc3a3190c7/src/main/resources/alma/fix/mediumAndType.fix#L217-L224

[2022-09-28 12:59] TobiasNx opened #1451 "Should we include more microformats?"
https://github.com/hbz/lobid-resources/blob/ac8c976fa7f19b32adc2261d9623b0dc3a3190c7/src/main/resources/alma/fix/mediumAndType.fix#L226-L253

338  .b has more versions than only Microfich

[2022-09-28 13:01] TobiasNx opened #1452 "TT000166861 is not Kombination anymore, why?"
https://github.com/hbz/lobid-resources/blob/ac8c976fa7f19b32adc2261d9623b0dc3a3190c7/src/main/resources/alma/fix/mediumAndType.fix#L258-L270

[2022-09-28 13:02] TobiasNx opened #1453 "Remote Access as online ressource?"
TODO: Old Morph also sets remote access as online ressource (050/8/1=g=Computerdatei(en) im Fernzugriff and 058.) Our ALMA-Transformation does not, how should we proceed.

https://github.com/hbz/lobid-resources/blob/ac8c976fa7f19b32adc2261d9623b0dc3a3190c7/src/main/resources/alma/fix/mediumAndType.fix#L274-L294

[2022-09-28 13:47] TobiasNx opened #1454 "No mappings from old MAB 051/052"
Here we should document, what Values are missing.

[2022-09-28 13:48] TobiasNx opened #1455 "Add transformation for Article"
https://github.com/hbz/lobid-resources/blob/ac8c976fa7f19b32adc2261d9623b0dc3a3190c7/src/main/resources/alma/fix/mediumAndType.fix#L406-L410

[2022-09-28 13:50] TobiasNx opened #1456 "No transformation for "MultiVolumeBook""
https://github.com/hbz/lobid-resources/blob/ac8c976fa7f19b32adc2261d9623b0dc3a3190c7/src/main/resources/alma/fix/mediumAndType.fix#L551-L556

[2022-09-29 09:51] #1002 closed

[2022-09-29 09:53] acka47 commented on #916
Yes. Closing. Thanks for the pointer!

[2022-09-29 09:53] #916 closed

[2022-09-29 12:50] acka47 commented on #1439
We use the [bido:doi](http://purl.org/ontology/bibo/doi) property for this which has rdf:Literal as range. This means, URIs on this property would be interpreted as strings by RDF libraries/reasoners. Thus, I suggest to use only the code. Applications can resolve these easily as should we add links to the URI in HTML interfaces.

[2022-09-29 12:54] acka47 commented on #1441
This makes sense, although it is only seen in the data, lobid.org already shows "Sonstige" in the HTML (filter section, detail view). So please go ahead and change it.

[2022-09-29 12:55] acka47 commented on #1441
Now as the GUI is configured based on the URI:

https://github.com/hbz/lobid-resources/blob/3ac007f560d62370f054055762e7d92904484790/web/conf/resources.conf#L85

Your proposed change would lead towards more consistency between UI and data.

[2022-09-29 12:58] acka47 commented on #1442
It is probably better to exclude them. It would be interesting to know how many resources have a review so that we could think about whether we should include reviews in another way.

[2022-09-29 12:59] acka47 commented on #1443
Without understanding the details, this looks good to me. If people complain, we can still change it. Closing.

[2022-09-29 12:59] #1443 closed

[2022-09-29 13:12] acka47 commented on #1444
This is important for NWBib and RPB and changing it would mean an API break and some adjustments to the UI. Furthermore, we are following the DINI AG KIM ["Empfehlung für die RDF-Repräsentation bibliografischer Daten"](https://wiki.dnb.de/pages/viewpage.action?pageId=68060017) here, see https://wiki.dnb.de/display/DINIAGKIM/MARC+21-RDF-Mapping. Closing.

[2022-09-29 13:13] acka47 commented on #1444
(I understand your discomfort with this solution, though.)

[2022-09-29 13:17] acka47 commented on #1312
Is this about the same collections as #1052? I had added labels for those in the labels.json, see https://github.com/hbz/lobid-resources/blob/2ae7b86259115ee3fa8693e3ba16ebda2739ca54/src/main/resources/labels/labels.json#L14494-L14910

Or is this about something else?

[2022-09-29 13:20] acka47 commented on #1123
I can not find it at https://github.com/hbz/lobid-resources/tree/master/src/test/resources/alma-fix. Anyway, I doubt that I could help much with this question as I don't have any experiences with EZB records.

[2022-09-29 13:21] acka47 commented on #1446
The issue descritpion is very sparse and the link leads to a 404. Please provide examples, @TobiasNx,  so that I can comment.

[2022-09-29 13:24] acka47 commented on #1447
Sounds right to change this. Go ahead and make a PR to change https://github.com/hbz/lobid-resources/blob/2ae7b86259115ee3fa8693e3ba16ebda2739ca54/web/conf/resources.conf#L93

[2022-09-29 13:28] acka47 commented on #1448
I don't know. As this is a more detailed question about a very small part of lobid-resources, we should not use much time for a discussion. As nobody has objected yet we can also just leave it as is.

[2022-09-29 13:33] acka47 commented on #1449
Short answer to the question in the issue title: No. (And I can not recall why this was configured like so in the first place.)

[2022-09-29 13:37] acka47 commented on #1451
As this is a quite detailed question about a very small part of lobid-resources, we should not use much time for a discussion. As nobody has objected yet, I suggest we just leave it as is.

[2022-09-29 13:37] acka47 commented on #1451
Closing

[2022-09-29 13:37] #1451 closed

[2022-09-29 13:40] acka47 commented on #1453
As nobody complained, I'd say we should implement it as for Aleph.

[2022-09-30 08:06] TobiasNx commented on #1444
Then we should only keep it for articles right? Since we have no type article at the moment. I do need to reopen it and filter it.

[2022-10-04 08:04] TobiasNx commented on #1450
What about reproductions of manuscripts?

[2022-10-04 08:17] TobiasNx commented on #1425
@dr0i did you have a look if this works now? Can we close it?

[2022-10-04 08:32] TobiasNx commented on #1374
@TobiasNx is this done?

[2022-10-04 08:38] TobiasNx commented on #1366
Closed with: https://github.com/hbz/lobid-resources/commit/555a24900e6191cb982ec92f3ecc28d5b253ef73

[2022-10-04 08:38] #1366 closed

[2022-10-04 08:39] TobiasNx commented on #1353
Ticket is duplicate of https://github.com/hbz/lobid-resources/issues/1366

[2022-10-04 08:39] #1353 closed

[2022-10-04 08:44] TobiasNx commented on #1341
This can be closed since only details and frontend and backend implementations are needed to be done. Next steps are https://github.com/hbz/lobid-resources/issues/1435  #1342  #1434

[2022-10-04 08:46] #1341 closed

[2022-10-04 08:55] TobiasNx commented on #1313
@dr0i could we discuss remodelling the testing for ALMA-FIX.

1) Get rid of ALMA-Morph testing or at least do not stop the dependency from ALMA-FIX testing to ALMA-Morph testing.
2) Introduce a lobid-ressources testing, that also loads the ALEPH-Lobid-Ressource Results for the HT numbers of the ALMA-FIX results?

[2022-10-04 09:36] dr0i commented on #1425
For this we need to build an Alma-FIX index. I am going to use the webhook-induced ETL which depends on https://github.com/hbz/lobid-resources/issues/1435.

[2022-10-04 09:37] dr0i commented on #1374
We need an index to test this.

[2022-10-04 09:38] TobiasNx commented on #1233
Auch noch ein Problem bei ALMA-Fix: `location`-array sollte um `uniq`-Funktion ergänzt werden.

[2022-10-04 10:00] TobiasNx commented on #1177
Duplicate of #1373: should be an integrated issue.

[2022-10-04 10:03] TobiasNx commented on #1124
@dr0i still an issue?

[2022-10-04 10:07] TobiasNx commented on #1107
Since we are working with ALMA-Fix now. I should update this list for comparison ALMA-Fix and ALEPH-Morph.

[2022-10-04 10:26] dr0i commented on #1124
No, can be closed. Closing.

[2022-10-04 10:26] #1124 closed

[2022-10-04 10:32] dr0i commented on #1119
In principle, yes, this is still a (potential) problem. It affects all ETLs which make use of `context.jsonld`.

[2022-10-04 10:39] dr0i commented on #1123
we have to wait for the completed Alma Fix index , see https://github.com/hbz/lobid-resources/issues/1435.

[2022-10-04 13:46] TobiasNx commented on #1098
This should be solved in ALMA-Fix

[2022-10-04 13:48] TobiasNx commented on #1097
Does this make seens to migrate them to fix? @dr0i

[2022-10-04 13:49] TobiasNx commented on #1083
Alt-Labels are not yet part of ALMA-Fix these need to be done by integrating the enrichment elements for GND of ALMA.

[2022-10-04 13:58] TobiasNx commented on #1067
@fsteeg is this a backend or a frontend issue?

[2022-10-04 13:59] TobiasNx commented on #1063
@dr0i Backend issue?

[2022-10-04 14:00] TobiasNx commented on #1058
@dr0i should we implement this for ALMA too?

[2022-10-04 14:01] TobiasNx commented on #1048
@dr0i Backend or Frontend?

[2022-10-04 14:02] TobiasNx commented on #1021
@dr0i still relevant?

[2022-10-04 14:03] TobiasNx commented on #971
@dr0i ist the deleted ressources API a thing for ALMA?

[2022-10-04 14:09] TobiasNx commented on #961
This needs to be done in ALMA-FIX too:

[code]

[2022-10-04 14:21] TobiasNx commented on #902
Is this still an issue in ALMA?

[2022-10-04 14:26] TobiasNx commented on #864
Still a problem in ALMA-Fix?

[2022-10-04 14:31] dr0i commented on #1097
As we will switch to fix, I would say so. Question is: are these functions ok to be integrated in fix (thinking of catmandu API etc.)?

[2022-10-04 14:34] TobiasNx commented on #576
Still relevant @acka47

[2022-10-04 14:36] TobiasNx commented on #562
Still relevant @acka47. Frontend issue?

[2022-10-04 14:36] TobiasNx commented on #527
Relevant for ALMA? @acka47

[2022-10-04 14:39] TobiasNx commented on #519
@dr0i can you check if the alma-index is build

[2022-10-04 14:40] TobiasNx commented on #447
@dr0i Backend or Frontend issue?

[2022-10-05 15:00] TobiasNx commented on #1107
I compared all test files of ALEPH with ALMA-Fix to see which elements are still missing @acka47  could you have a look if there are still any left that are important for NWBIB or should be prioritized:

- [ ] containsExampleOfWork.[].creatorOfWork
- [ ] containsExampleOfWork.[].id
- [ ] containsExampleOfWork.[].instrumentation.[]
- [ ] containsExampleOfWork.[].label
- [ ] containsExampleOfWork.[]

[2022-10-06 08:59] fsteeg commented on #1067
It's not a transformation issue, but a web app issue (there, it's a backend issue).

[2022-10-06 09:06] dr0i commented on #1342
Done switching. https://test.lobid.org/resources was build on 2022-10-04, updates yet to be done.

[2022-10-06 09:35] TobiasNx commented on #951
**One sidenote: fix is not referring to metafacture-fix here.**

[2022-10-06 09:43] dr0i opened #1459 "Cron: mail catalog data mishaps"
In our Alma transformation with Fix we log WARN if data is erroneous. We shall mail them to catalogers.
Most/all of them are multiple entries of `hbzId`.
This should be done at least once a week after fulldump ETL. A mail with the IDs, the field with the data in question and the kind of the error should be send to our mailing list where we can manually qualify the errors and forward these to catal

[2022-10-06 11:21] TobiasNx commented on #925
http://test.lobid.org/resources/search?q=hbzId:HT016963854&format=json

[code]

@acka47 : Seems to be no problem anymore?

[2022-10-06 11:42] TobiasNx commented on #877
[code]

At the moment we only transform marcRel $4. The initial example shows that $4 and $e do not always fit together.

In my opinion this perhaps could be done with a more systematic and check string provided in $e.

[2022-10-06 11:53] TobiasNx commented on #519
Seems to be no problem for Fix anymore: https://test.lobid.org/resources/search?q=contribution.agent.type:SubjectHeading

[2022-10-06 12:04] dr0i commented on #1123
| alma-fix: hits |  lobid-resources: hits |
| ------------- |:-------------:|
| [edoweb](http://test.lobid.org/resources/search?q=inCollection.id:%22http://repository.publisso.de%22&format=json): 8436 | [edoweb](http://lobid.org/resources/search?q=inCollection.id:%22http://repository.publisso.de%22&format=json):8623
| [rbp](http://test.lobid.org/resources/search?q=inCollection.id:%22http://lobid.o

[2022-10-06 12:35] TobiasNx commented on #691
Previous MAB 700 are now listed as different MARC elements (http://www.alma-dach.org/alma-marc/bibliographic/084/084.html):

Notations of specific cataloguing institutions:
 Systematik der katalogisierenden Institution: 700_ $a $2DNB/$2ZDB -> 084 ## $$a $$qDE-101 $$2 sdnb/ 084 ## $$a $$qDE-600 $$2 zdbs (Indikator: blank = Systematik der katalogisierenden Institution)
UDC(Universal Decimal Classifi

[2022-10-06 14:18] TobiasNx commented on #691
I did a draft PR to discuss stuff: https://github.com/hbz/lobid-resources/pull/1461

[2022-10-06 14:45] TobiasNx commented on #1425
Seems to work.

[code]
Version comes from the ALMA-Morph: https://github.com/hbz/lobid-resources/blob/bd88d0220b7cef473bdce8319bb1669703c01cf7/src/main/resources/alma/common/subjects.xml#L69

I found that there is a bug in the old lobid with a combination of dewey and Schlagwortfolgen:
http://lobid.org/resources/search?q=hbzId:HT019631849&format=json

[2022-10-06 15:07] dr0i commented on #1058
Yeah I definitely have this on my mind ! :)

[2022-10-06 15:11] #1048 closed

[2022-10-06 15:20] dr0i commented on #971
I don't even know _if_ this information is somehow transported by the Alma dump. Also, maybe custo,mers can use the Alma-Api to get deletions? I don't know. Let's see if some customer demands it.
I would close this, but as @acka47 opened the issue I assign him and ask for closing.

[2022-10-07 08:32] dr0i opened #1462 "Erratically " java.lang.NoSuchFieldError: IS_OSGI_RUNNING" when starting web app"
Starting an ETL process by invoking the webhook may result in:

at org.eclipse.emf.ecore.impl.EPackageRegistryImpl.createGlobalRegistry([EPackageRegistryImpl.java:55](http://epackageregistryimpl.java:55/))
at org.eclipse.emf.ecore.EPackage$Registry.<clinit>([EPackage.java:75](http://epackage.java:75/))
at org.eclipse.xtext.xbase.XbaseStandaloneSetup.createInjectorAndDoEMFRegistration([XbaseStandal

[2022-10-07 08:38] blackwinter commented on #1462
FTR: We've seen `NoSuchFieldError` [before](https://github.com/metafacture/metafacture-fix/issues/90#issuecomment-988796479), but this seems unrelated.

[2022-10-07 08:44] blackwinter commented on #1462
Reproducible with the following Docker file (on branch [dr0i/lobid-resources@1435-addAlmaFixProductioWorkflow](https://github.com/dr0i/lobid-resources/tree/1435-addAlmaFixProductioWorkflow)):

[code]

[code]

Can't confirm the erratic nature of it, though.

[2022-10-07 08:57] blackwinter commented on #1462
The issue appears to be that `org.eclipse.xtext:org.eclipse.xtext:2.26.0` depends on `org.eclipse.emf:org.eclipse.emf.common:2.17.0`, so it gets selected by sbt over `org.eclipse.emf:org.eclipse.emf.common:2.26.0`.

[code]

But Gradle resolves to the same version without exhibiting the error (in metafacture-fix):

[code]

So this doesn't explain the difference in behaviour between web app and CLI.

[2022-10-07 08:59] blackwinter commented on #1462
@fsteeg: Do you have any idea?

[2022-10-07 09:03] blackwinter commented on #1462
It _can_ be solved with an explicit dependency on `org.eclipse.emf:org.eclipse.emf.common:2.26.0`:

[code]

[code]

But this definitely feels like a band-aid...

[2022-10-10 06:32] acka47 commented on #1450
If they can be identified, they should probably have medium "Print". Generally, I am happy to leave these decisions about scarcely recorded mediums like manuscript or microform to you. Please just document them clearly in the issue so that we in the future can easily find the rationale behind the transformation.

[2022-10-10 07:26] acka47 commented on #576
This has been working fine until now so we can close this.

[2022-10-10 07:26] #576 closed

[2022-10-10 07:34] acka47 commented on #562
Both issues with range queries still exist but the GND data has been improved. As this issue was raised intrnally five years ago and now actual API user has complained, I am closing this as Won't Fix. If anybody comes around with the same problem, we can reopen it.

[2022-10-10 07:34] #562 closed

[2022-10-10 07:39] acka47 commented on #509
If it is easy to implement, I think it would be nice. When there are still problems with adding language tags, we should leave it for now.

[2022-10-10 07:40] acka47 commented on #527
This is a parallel issue to #509 and refers to the metafacture morph. As we don't do any further morph development after having started developing and using fix, I am closing this issue.

[2022-10-10 07:40] #527 closed

[2022-10-10 08:57] dr0i opened #1464 "MapperParsingException: URI instead of String for publication.location"
We got new data where the place of publication is a URI, e.g.
https://lobid.org/hbz01/HT021519082 (419 1.a), which is nice but breaks our definition of this type of field (must be String, is a URI).
ES complains with a  `MapperParsingException` and the document is not indexed, see [/HT021519082](http://lobid.org/resources/HT021519082).

This also may affect ALMA data.

[2022-10-10 10:07] dr0i commented on #1464
@TobiasNx this would also be a problem if such data appears in ALMA (-> `titleRelatedFields.fix`). You may want to provide a fix for the Fix.

[2022-10-10 11:03] dr0i commented on #1464
Checked ALMA (Morph and Fix), no probs here.

[2022-10-10 11:12] dr0i commented on #1464
To be checked at Thursday.

[2022-10-10 13:09] fsteeg commented on #1462
Hm, I tried a few things (thanks for the Dockerfile for reproduction!), I was suspecting that using the old activator was somehow affecting the dependency resolution behavior, but no success with the latest SBT either. Must be some different (or missing) implementation of the OSGi  [`greaterOrEqual`](https://github.com/eclipse/xtext-umbrella/blob/0c6378f17afbd2543df2eaf2a50356115a6e957f/releng/org

[2022-10-10 13:17] gregorbg opened #1466 "Retrieve the "Buchungsnummer" in hasItem"
In our library (DE-38-459), we assign a unique integer ID (we call it "Mediennummer") to every physical resource. This ID is registered as part of our "Lokaldaten" and it is also physically present in the resource, i.e. we glue a sticker on the inside of the book cover. This sticker contains a barcode and I see a lot of potential here to snap it with a smartphone (or even a proper barcode scanner)

[2022-10-10 13:31] blackwinter commented on #1462
Thanks for the analysis! Although it's still rather unsatisfying because Gradle [resolves to the same version](#issuecomment-1271315675).

Anyway, let's go with the workaround then :disappointed:

[2022-10-10 15:01] TobiasNx commented on #1466
Since we are preparing the migration to ALMA I checked if this info in the MARC record. This info is not provided: https://alma.lobid.org/marcxml/990184218340206441

[2022-10-10 15:04] blackwinter commented on #1466
DE-38 is not in Alma yet, they're migrating with Wave 3 next year.

[2022-10-10 15:34] blackwinter commented on #1462
Let's step back for a moment: What exactly are the differences between web app and CLI?

- Build tool: sbt vs. Maven (Gradle in metafacture-fix)
- Additional dependencies as specified in `web/build.sbt`
- Anything else?

I wasn't able to get [sbt-dependency-graph](https://github.com/sbt/sbt-dependency-graph) to install just now, but I may try again tomorrow in order to look at the actual dependenc

[2022-10-11 00:50] gregorbg commented on #1466
Here's another example: https://lobid.org/resources/HT018217583
This book is also present in DE-61 which I believe already runs on ALMA.

For reference, here's the screenshot from the Okeanos "Bestandsanzeige":
![image](https://user-images.githubusercontent.com/6136469/194973323-e85681e7-0412-4ee0-bb21-d9986963f288.png)

Again, I am interested in the information `JAP/0001286` from the row `38/459

[2022-10-11 00:57] gregorbg commented on #1466
Also worth noting that the book from my original post (HT016717822) is present in DE-465, which seems to be included in the MARC record pasted above:

There you can see that datafield `ITM`, subfield `b` contains the information `D00122717` which seems to correspond to what I want based on the Okeanos Bestandsanzeige:
![image](https://user-images.githubusercontent.com/6136469/194974244-f4ecd530-07

[2022-10-11 08:43] blackwinter commented on #1462
Approaching the issue from a different angle: Who's expecting that there is such a field `IS_OSGI_RUNNING` and then complaining if it can't be found? I don't even understand how this error comes into existence in the first place.

[2022-10-11 09:13] dr0i commented on #1435
I removed the "productive" from the title, as we have the Alma Morph ETL in parallel for now, which is triggered by a call to the webhook listener. For "load level" reasons we don't want  ETL of Morph and Fix in parallel (both access the same dump and the same ES cluster), and as the webhook caller of the invoked ETL can atm only call _one_ other webhook listener (Dortmund) to inform when ETL is f

[2022-10-11 09:23] dr0i commented on #1425
With #1435 resolved this seems to work, see [http://test.lobid.org/resources/search?q=HT019631849&format=json. ](http://test.lobid.org/resources/search?q=subject.source.id:%22http://d-nb.info/gnd/4149423-4%22&format=json).

re "Bug old lobid resources": please open a new issue (or just ignore it, I don't think we will fix this).

[2022-10-11 09:24] dr0i commented on #1425
@acka47 can we close this?

[2022-10-11 09:29] dr0i commented on #1123
Note that the `rpb` data is missing now because of a newly build Alma Fix index. I am gonna automate this and let you know when this is done.

[2022-10-11 09:38] dr0i commented on #1462
re "sbt-dependency-graph":
[code]

[2022-10-11 09:44] blackwinter commented on #1462
Thanks! I've tried with `web/plugins.sbt` before, which didn't work.

[2022-10-11 12:27] dr0i opened #1468 "Trigger Alma Fix ETL via Webhook"
To make #1435 "productive" we should make use of the call to the Webhook listener, either:

- [ ] make webhook caller able to inform multiple endpoints when finished ("chaining") or
- [x] wait until Alma Morph is discarded in total and switch to Alma Fix

I like the first approach. We would have to open a new issue for that.

See https://github.com/hbz/lobid-resources/issues/1435#issuecomment-1274

[2022-10-11 12:49] dr0i opened #1469 "Notify Webhook when ETL is finished to also index RPB"
After a newly created index the [RPB data](https://github.com/hbz/rpb) must be reindexed. This will be implemented in a first step by "guessing" a timeframe with enough safety distance for cron scheduling. The better approach is to call a RPB  Webhook listener to start indexing when ETL is actually finished.

If https://github.com/hbz/lobid-resources/issues/1468 is implemented we can reuse that fo

[2022-10-11 13:26] fsteeg commented on #1462
From what I understand it's some (dynamically loaded) OSGi module in EMF (which Xtext is based on). And SBT seems to resolve the lower bound of the EMF dependency in Xtext, resulting in a version without `IS_OSGI_RUNNING` made available to a module expecting it. I don't quite understand where or how the other module is coming in, the one expecting `IS_OSGI_RUNNING`. It might somehow be related to

[2022-10-11 13:31] dr0i commented on #1469
Hm, after finishing the ETL of lobid-resources atm the alias is switched automatically. I.e., even after triggering the RPB indexing *directly* after the creation of the new lobid-resources index the RPB data will be missing in the index for at least the time the RPB indexing needs (atm ~10m).
Two solutions come into mind:

a) calling a webhook listener shortly after *starting* ETL (not  ETL is *f

[2022-10-11 13:35] blackwinter commented on #1462
Me too. I'll try pinning `org.eclipse.emf.ecore` instead of `org.eclipse.emf.common` in metafacture-fix as that at least appears to have some foundation.

:+1:

[2022-10-11 13:45] dr0i commented on #1123
After reindexing of RPB data the [rbp `inColleection`](http://test.lobid.org/resources/search?q=inCollection.id:%22http://lobid.org/resources/HT013494180%23!%22&format=json) is good again. Expect the RPB data to be there anytime besides Sunday late evening up to Monday around 6:20 (see https://github.com/hbz/lobid-resources/issues/1469#issuecomment-1274691392 for background).
Closing.

[2022-10-11 13:45] #1123 closed

[2022-10-11 14:07] blackwinter commented on #1462
I've verified this workaround ([same steps as before](#issuecomment-1271321254)) and opened metafacture/metafacture-fix#264.

@dr0i: Can you do the functional review for the pull request?

[2022-10-11 14:08] dr0i commented on #1374
http://test.lobid.org/resources/search?q=HT012721542&format=json reveals the same data as in the [test data](https://github.com/hbz/lobid-resources/pull/1385/files#diff-1abf7bfab0c82e075f07903d375618b75a1c2d853be31441554323cc12ce91c4) , so I think this is done.
Closing.

[2022-10-11 14:08] #1374 closed

[2022-10-11 14:12] dr0i commented on #1462
Functional review: ✅

[2022-10-11 14:29] dr0i commented on #1063
yep, backend issue.

[2022-10-11 14:36] acka47 opened #1470 "Fix error in how we model provenance data?"
Currently we have `dateCreated` and `dateModified` statements about the RDF description, e.g.:

[code]

But actually this information is about the underlying MARC record, it should thus sit in the `object` object like this:

[code]

The switch to Alma is a good chance to rectify this old error. On the other hand, it still means an API break...

[2022-10-12 08:20] blackwinter commented on #1469
I don't really know anything about your situation, but have you maybe considered maintaining separate indexes and accessing them through a common alias? Then you can update them independently.

[2022-10-13 08:40] dr0i opened #1471 "Alma Fix: URIs falsely in lat/lon field"
Results from https://github.com/hbz/lobid-resources/pull/1458:

So it seems that for lat or lon _often_ the URI is inserted, and ES denies indexing of this.

[2022-10-13 08:56] dr0i commented on #1471
Wait, this may well be because `nwbib-spatial.tsv` couldn't be found at the server. Assigning myself.

[2022-10-13 09:40] dr0i commented on #1471
After fixing the path (#1472), so that `nwbib-spatila.tsv` can be resolved, there are still some errors, like:

[1650]: index [resourcestest-alma-fix-20221010-1552], type [resource], id [990110714900206441], message [MapperParsingException[failed to parse]; nested: ElasticsearchParseException[[lat] and [lon] must be valid double values]; nested: NumberFormatException[For input string: "http://www.

[2022-10-13 12:31] TobiasNx commented on #1471
This seems to be a problem since the values that should be looked up are not part of https://github.com/hbz/lobid-resources/blob/317e36a4e8cb4ba251c91673c9aa2e9558baf50d/src/main/resources/wd_itemLabelTypesCoordinates.tsv

[2022-10-13 12:47] TobiasNx commented on #1471
Had a talk with @dr0i. We assumed that this is also broken in ALEPH-ALMA:
https://lobid.org/resources/BT000024700.json

It seems that https://github.com/hbz/lobid-resources/blob/317e36a4e8cb4ba251c91673c9aa2e9558baf50d/src/main/resources/wd_itemLabelTypesCoordinates.tsv has not been updated in a longer time.

[2022-10-13 12:57] dr0i commented on #1471
See https://github.com/hbz/nwbib/issues/570#issuecomment-889746463 on how this file is build.

[2022-10-13 12:58] TobiasNx opened #1473 "ALMA-Fix: Use multi-column lookup for spatial"
At  the moment we have a very weird lookup mechanism for spatial-lookups.

https://github.com/hbz/lobid-resources/blob/317e36a4e8cb4ba251c91673c9aa2e9558baf50d/src/main/resources/nwbib-spatial.tsv
[code]

https://github.com/hbz/lobid-resources/blob/317e36a4e8cb4ba251c91673c9aa2e9558baf50d/src/main/resources/wd_itemLabelTypesCoordinates.tsv

[code]

To acess the later values we work with regexp.
It

[2022-10-13 13:22] dr0i commented on #1471
The question "how is the `[wd_itemLabelTypesCoordinates.tsv](https://github.com/hbz/lobid-resources/blob/317e36a4e8cb4ba251c91673c9aa2e9558baf50d/src/main/resources/wd_itemLabelTypesCoordinates.tsv)` build still remains unanswered for running `getTypeAndCoordinatesFromWikidata.sparql` only reveals `164` as opposed to the `9k` atm.
However, adjusting the sparql to get every Wikidata entry typed as

[2022-10-13 14:42] TobiasNx commented on #1471
Would be solved by https://github.com/hbz/lobid-resources/issues/1473

[2022-10-13 14:51] dr0i commented on #1471
made some checks:
- all 164 entries of getTypeAndCoordinatesFromWikidata.sparql are also present in the new SPARQL result besides these four: Q645030, Q14551680, Q316174 and Q993449 (all rather edge case lacking a NWBid)
- these have two times lat/lon : Q109773,Q2011523,Q109773,Q152356,Q2011523,Q152356

Lots of old WD resource, while  part of `wd_itemLabelTypesCoordinates.tsv`, are missing in the

[2022-10-13 14:51] blackwinter commented on #1473
Depends on metafacture/metafacture-fix#265, which in turn depends on metafacture/metafacture-core#471.

[2022-10-13 15:10] dr0i commented on #1471
Note that https://github.com/hbz/lobid-resources/issues/1471#issuecomment-1277555645:

is not true in that it is _not_ broken - the [coordinates are (still) not notated in wikidata](https://www.wikidata.org/wiki/Q1374337), maybe because it's a too broad of a region. So these coordinates will be missing even after using the new mechanisam of getting the data.

[2022-10-18 07:58] dr0i commented on #1313
1) You mean introducing _two_ test files as basis for the tests instead of a shared one (the latter being `almaMarcXmlTestFiles.xml.tar.bz2`)?
2) You mean comparing the ALEPH json results with the ALMA Fix json results?

[2022-10-18 08:18] TobiasNx commented on #1313
1. Since we stop changing stuff with ALMA-Morph, either decouple ALMA-Morph and ALMA-Fix (your suggestion), or new testfiles are at first added to ALMA-FIX and if needed processed in ALMA-Morph. At the moment the script builds ALMA-Morph first and you have to run additionally ALMA-FIX.
2. Exactly, but only by adding the data of lobid-resources.

The script `test/alma/updateAlmaTestFiles.sh` could

[2022-10-18 09:00] TobiasNx opened #1475 "Missing elements in new transformation for ALMA 2 LOBID (new version)"
I compared all test files of ALEPH with ALMA-Fix to see which elements are still missing @acka47  could you have a look if there are still any left that are important for NWBIB or should be prioritized:

- [x] containsExampleOfWork.[].creatorOfWork #1499
- [x] containsExampleOfWork.[].id #1499
- [x] containsExampleOfWork.[].instrumentation.[] #1499
- [x] containsExampleOfWork.[].label #1499
- [x]

[2022-10-18 09:02] TobiasNx commented on #1107
I close this ticket, since list in the initial post is not up to date anymore.

The new list is in #1475

[2022-10-18 09:02] #1107 closed

[2022-10-18 09:17] acka47 commented on #1475
Skimming through this, I identified these fields which should be implemented next:

- `corporateBodyForTitle.[]` which is important for display purposes I think

The publication fields are used in the NWBib UI (see [code](https://github.com/hbz/nwbib/blob/b475bccc52b149cf0ed73876beb154afd87fa764/app/views/tags/result_doc.scala.html#L24-L52)):

- publication.[].description.[]
- publication.[].frequ

[2022-10-18 09:19] acka47 commented on #1475
Some fields aren't used anymore, e.g. `longitudeAndLatitude.[]` which must be a relict. We also should not need `coverage` in the future.

[2022-10-18 09:20] acka47 commented on #1475
The `exampleOfWork` stuff seems to be used by UB Dortmund, see #516 and the encompassing issue #567, so this should be also on the list.

[2022-10-18 09:26] acka47 commented on #1475
These should also be added but the properties listed in https://github.com/hbz/lobid-resources/issues/1475#issuecomment-1282075626 have priority over the exampleOfWork stuff.

[2022-10-18 12:50] TobiasNx commented on #1455
This seems to be an duplicate: #1314

[2022-10-18 12:58] TobiasNx opened #1478 "Add RPB Vocabs to ALMA-Fix"
@acka47 noticed [here](https://github.com/hbz/lobid-resources/pull/1461) that RPB should already be included in FIX:

[2022-10-18 13:14] dr0i commented on #1313
1) copied `alma/updateAlmaTestFiles.sh` to `alma-fix/updateAlmaTestFiles.sh` and adapted the script so that you now can choose which test you want to update and execute
2) got to the directory `lobid-resources/src/test/resources/alma-fix/almaFilesFromIdsOfAlephTestFiles` and do `bash grepAlephTestIdsAndLookupAlmaJsonAndXml.sh`. The script gets the hbzId from the Aleph test files and lookups Alma F

[2022-10-18 13:50] TobiasNx commented on #1475
It seems that
* publication.[].publishedBy
* publication.[].location

are elements that should be arrays, they exist as array in ALMA-Fix. @acka47 I would drop them right?

[2022-10-20 10:41] TobiasNx opened #1481 "Compare RPB ressources and add missing elements from ALMA-MARC"
Subtask from: https://github.com/hbz/rpb/issues/21

[2022-10-20 11:33] TobiasNx opened #1482 "ALMA-Fix: Add `corporateBodyForTitle`"
Seems to be based on. https://github.com/hbz/lobid-resources/issues/33

Mapping ALEPH -> ALMA is:

333# $a [nur RAK] | 245 10 $a ... / < 333# $a > | Zu ergänzende Urheber zum Haupttitel [nur RAK]Hz: Neu
-- | -- | --

https://service-wiki.hbz-nrw.de/pages/viewpage.action?pageId=483000321

[2022-10-20 14:35] TobiasNx commented on #1482
It seems that the info is old RAK metadata. See [HT007015768](https://lobid.org/resources/HT007015768):

[code]

=

[code]

In [ALMA](https://alma.lobid.org/marcxml/990055713370206441):

[code]

@acka47 should we drop `corporateBodyForTitle` then?

[2022-10-20 15:02] acka47 commented on #1482
As there is no MARC21 equivalent to `333` (see below), we won't need `corporateBodyForTitle` any more.

To be totally clear, do I understand correctly: In RAK the title got split up into `331` and `333` and we separated them in the JSON (`title` and `corporateBodyForTitle`) and had to concatenate both fields for display purposes. In MARC21, there is only `245` where this is already concatenated. W

[2022-10-21 06:27] TobiasNx commented on #1482
Correct. hbz ALMA-MARC concetinates both elements in 245 $a

[2022-10-21 08:32] #1482 closed

[2022-10-21 08:40] TobiasNx opened #1484 "ALMA-Fix: Add `publication.frequency` and `publication.note`"
derivative of  #1475

ALEPH-Morph is:

[code]

Mapping for `frequency` from https://service-wiki.hbz-nrw.de/display/VDBE/ALT+-+Mapping+MAB2+-+MARC+21+-++Segmente+0---%2C+001+-+088+-+Kurzform:

052 Pos. 8-10 |   | Erscheinungsweise |   |   |   |   |   |   |  
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
052/8-10/3 |   |   |   |   |   |   |   |   |  
d=täglich |   |   | 008,18 |   |   | d |   |  

[2022-10-21 09:08] TobiasNx opened #1485 "ALMA-Fix: secondaryPublication former RAK element"
Found due to the need of `publication.description` this is an element specific for secondary publications.

[code]

All infos from these elements can be found in [MARC 533](https://www.loc.gov/marc/bibliographic/bd533.html), see mapping https://service-wiki.hbz-nrw.de/pages/viewpage.action?pageId=483000321

[2022-10-21 09:21] TobiasNx opened #1486 "ALMA-Fix: `webPageArchived`"
Derivative of #1475

https://github.com/hbz/lobid-resources/blob/5f3195e6916d13b43eae03f684a41ea6d31f381b/src/main/resources/morph-hbz01-to-lobid.xml#L6886-L6903

@dr0i it seems that you wrote this code and comment, could you help where I find the info if a ressource is of type "webPageArchived"?

[2022-10-21 09:51] dr0i commented on #1486
From the [morph](https://github.com/hbz/lobid-resources/blob/master/src/main/resources/morph-hbz01-to-lobid.xml#L1693):
[code]

There are some test files covering this, e.g. http://lobid.org/resources/HT019248596.json . Maybe you can trace it from there.

[2022-10-21 09:59] TobiasNx commented on #1486
Mapping ALEPH MAB to ALMA MARC does not seem to support this element anymore:
https://service-wiki.hbz-nrw.de/display/VDBE/ALT+-+Mapping+MAB2+-+MARC+21+-++Segmente+0---%2C+001+-+088+-+Kurzform

51/1-3/3=w Website has no corresponding value.

Need to find another indicator here.

[2022-10-24 07:52] dr0i commented on #1471
https://test.lobid.org/resources/search?q=990364455390206441&format=json works now, but >9k are still failing with MPE, e.g. https://test.lobid.org/resources/search?q=990112086220206441&format=json (compare with https://alma.lobid.org/resources/search?q=990112086220206441&format=json).

[2022-10-24 08:35] TobiasNx commented on #1471
This seems not a problem by the geo-data but by `type`:
[code]

[2022-10-24 09:22] TobiasNx commented on #1471
This is the source of the error:
https://github.com/hbz/lobid-resources/blob/15c79a23997206502ce8d165c1658e25bcc12dad/src/main/resources/wd_itemLabelTypesCoordinates.tsv#L5033-L5034

[2022-10-24 10:05] acka47 commented on #1481
Closing. This is covered in the RPB JIRA by @fsteeg, @acka47 and LBZ. I will open a new ticket when Alma (or lobid) needs to be enriched from RPB data.

[2022-10-24 10:05] #1481 closed

[2022-10-24 10:25] dr0i commented on #1433
This works already, see e.g. https://test.nwbib.de/HT020968842.
But you cannot use the almammsId, e.g. https://test.nwbib.de/99370849894106441.
Question is, if _both_ cases should work.

[2022-10-24 10:29] fsteeg commented on #1433
Does not work yet for https://test.lobid.org/resources/HT020968842, see also https://github.com/hbz/lobid-resources/issues/1342.

[2022-10-24 11:49] fsteeg commented on #1342
Things currently erroring in the (Alma-Fix-based) test resources UI:

http://test.lobid.org/resources/search
http://test.lobid.org/resources/99370966568606441

The actual data is there:

http://test.lobid.org/resources/search?format=json
http://test.lobid.org/resources/99370966568606441.json

Access via hbzId does not seem possible (no error, not found):

http://test.lobid.org/resources/HT01904299

[2022-10-24 12:58] fsteeg commented on #1342
The basic UI now works, now using `almaMmsIds` instead of `hbzIds`. See:

http://test.lobid.org/resources/search
http://test.lobid.org/resources/99370966568606441

The difference to NWBib is that there, it seems to work to stick with the `hbzIds`. Is that because all NWBib records do have an `hbzId`, while not all in lobid-resources do? Will it remain like that? I guess here we'll have to discuss

[2022-10-24 13:02] dr0i commented on #1459
Email is send to @TobiasNx and me once a week (if multiple hbzIds occur). We can forward it to said person.
Closing.

[2022-10-24 13:02] #1459 closed

[2022-10-24 13:13] blackwinter commented on #1342
Not sure where you got that from, but it's wrong. AFAIK, hbz IDs will continue to be assigned to new resources.

[2022-10-24 13:21] blackwinter commented on #1342
Only NZ resources get an hbz ID, this is an IZ resource.

[2022-10-24 13:28] TobiasNx commented on #1342
https://alma.lobid.org/marcxml/99370682885406441
[code]

=> has no hbzId but nwbib classifications:
[code]

 => [which makes them a nwbib collection ressource.](https://github.com/hbz/lobid-resources/blob/0f96587365ff00e5542b797ac0615ad767a6baa7/src/main/resources/alma/fix/relatedRessourcesAndLinks.fix#L382-L391)

[2022-10-24 14:44] dr0i commented on #1435
@UBmakla you can test this now. The API URL is https://test.lobid.org/resources/ and you can use this like the one you already use (https://alma.lobid.org/resources/99371678351606441.json), e.g. https://test.lobid.org/resources/99371678351606441.json.
We are happy if you open new issues here if you discover something not yet perfect!

[2022-10-24 15:10] UBmakla commented on #1435
Thanks for the information, I look forward to the test. If I have comments, should they be attached to this ticket or should I create a new one?

[2022-10-24 15:32] TobiasNx opened #1491 "ALMA-Fix: Add license"

[2022-10-24 15:53] TobiasNx commented on #1464
@dr0i did you check?

[2022-10-24 15:55] dr0i commented on #1435
@UBmakla please open new issues, so we can track these concisely and be focused.
 If you feel there is something that is not worth for the public or whatever you can also write us an email :)

[2022-10-25 07:24] acka47 commented on #1342
If it was, we could use hbz IDs plus ZDB IDs fpr NWBib.

[2022-10-25 09:48] dr0i commented on #1464
Strange - there is no more a `MapperParsingException`in the logs  but the data is still missing in all indices:
http://lobid.org/resources/search?q=HT021519082 and http://alma.lobid.org/resources/search?q=HT021519082&format=json and http://test.lobid.org/resources/search?q=HT021519082&format=json.
Only the MabXML source was indexed: https://lobid.org/hbz01/HT021519082

[2022-10-25 10:48] acka47 commented on #1342
As just discussed in the meeting, there is one last thing missing: the link to the source MARC/XML. Currently, the data is at `https://alma.lobid.org/marcxml/{alma-mmsid}`, e.g. https://alma.lobid.org/marcxml/990108873860206441. We decided that @dr0i will move it to `https://lobid.org/marcxml/{alma-mmsid}`.

[2022-10-25 11:01] acka47 commented on #1342
We decided to remove the `<M>` link to the source from the UI for now.

[2022-10-25 11:05] acka47 commented on #1342
As discussed just now in the team meeting, we will postpone the implementation of item information until we have finished the holding modeling in #1373 .

[2022-10-25 11:45] TobiasNx opened #1495 "ALMA-Fix: type: Book too often"
https://github.com/hbz/lobid-resources/pull/1490#pullrequestreview-1154460170

This is a broader issue.

[2022-10-25 12:03] acka47 opened #1496 "Two problems with spatial object"
## Mix-up of latitude and longitude

Compare [HT021344402 example on test-resources](https://test.lobid.org/resources/99371310570806441.json):

[code]

...and [on production](https://lobid.org/resources/HT021344402.json):

[code]

## `focus` incorrectly has own object

Compare the same files.

test:
[code]

Production:

[code]

[2022-10-25 13:35] #1486 closed

[2022-10-25 13:36] fsteeg commented on #1342
The source data link is now only visible when hovering, and points to the MARC-XML when deployed with Alma data (and will point to the MAB-XML data when deployed on production with Aleph data), see: http://test.lobid.org/resources/99370966568606441

Like this, it should be possible to always get to the actual source data (MAB or MARC) with a click.

For consistency with the existing code for the s

[2022-10-25 14:08] #1342 closed

[2022-10-25 14:39] dr0i commented on #1464
Ah [HT021519082 was deleted on 2022-10-15](https://lobid.org/resources/deletions/search?q=HT021519082%20AND%20describedBy.deleted%3A[20221001+TO+20221025]) - praise the deletion API !

So I think we are on the safe side anyway (no more MPE). Closing.

[2022-10-25 14:39] #1464 closed

[2022-10-25 14:58] TobiasNx commented on #1419
@acka47 hinted to problems with publicationHistory:

https://github.com/hbz/lobid-resources/pull/1488#issuecomment-1290593062

I should fix this within this ticket.

[2022-10-26 09:37] TobiasNx commented on #1373
@hagbeck and @UBmakla : at the moment we dump all holding and portfolio related [ALMA-hbz-specific elements](https://service-wiki.hbz-nrw.de/pages/viewpage.action?pageId=612532300) into `hasItem` differentiated by a messy `type`-Value:

- MNG Management Information
- HOL Additional Holdings Fields (HOL)
- ITM Items Information (ITM)
- POR Electronic Portfolio Information (POR)
- POC Portfolio Cove

[2022-10-26 09:53] TobiasNx opened #1499 "ALMA-Fix: containsExampleOfWork and exampleOfWork"

[2022-10-26 13:51] TobiasNx commented on #1475
seeAlso.[].id
seeAlso.[].label
similar.[].isbn.[]
similar.[].note.[]
hasVersion.[].id
hasVersion.[].label

Before adding these the relations should finally defined and discussed, if similar and hasVersion should be droped. https://github.com/hbz/lobid-resources/issues/1400

[2022-10-27 07:23] acka47 commented on #1400
I don't think that we made a decision there. Currently, `sameAs` is mapped to `owl:sameAs` in the [JSON-LD context]():

[code]
Is `owl:sameAs` already used somewhere in the fix? It'd be ok for me to replace it in the context with `sdo:sameAs` which won't be an API break from the JSON view but from an RDF view. Maybe we should discuss this after the standup today.

[2022-10-27 08:49] TobiasNx commented on #1313
+1 You can now load the aleph files locally with the script. @dr0i would it be a good idea to put the content of the script folder to gitingore?

[2022-10-27 08:54] TobiasNx commented on #1313
https://github.com/hbz/lobid-resources/pull/1502

[2022-10-27 09:05] TobiasNx commented on #1496
This fixed?

[2022-10-27 09:15] TobiasNx commented on #1471
@acka47  hinted to that too. It should be fixed with #1496 and #1497

[2022-10-27 10:08] TobiasNx commented on #691
This is added to ALMA-Fix and won't be added to Aleph.

[2022-10-27 10:08] #691 closed

[2022-10-27 11:06] acka47 commented on #1400
We discussed this and decided to move forward with merging `owl:sameAs` and `umbel:isLike` into `sdo:sameAs` which will be put into the JSON-LD context as URI for `sameAs`.

[2022-10-27 13:30] dr0i commented on #1313
Yes, you may add it to the .gitignore.

[2022-10-27 13:58] #1484 closed

[2022-10-27 14:29] #1491 closed

[2022-10-28 07:21] hagbeck commented on #1373
Hi,
at first: the link to the wiki page result in "page not found".
The dump of all these "items" was a workaround because of metafacture-morph limitations. For me it would make sense to rethink the goals of the data and try to make it better with metafacture-fix.
We suggest to discuss this in a video call, perhaps on November 11th?

[2022-10-31 10:51] dr0i commented on #1491
Looks good, see e.g. http://test.lobid.org/resources/990210781980206441.json.

[2022-10-31 10:54] dr0i commented on #1496
Fixed. Closing.

[2022-10-31 10:54] #1496 closed

[2022-10-31 10:59] dr0i commented on #1499
Fixed, see e..g http://test.lobid.org/resources/990021974470206441.json.

[2022-10-31 14:48] dr0i commented on #1313
I assigned this to you @TobiasNx as there are many unchecked items in the list in https://github.com/hbz/lobid-resources/issues/1313#issuecomment-914107555 and I don't know if here remain things to do.

[2022-11-02 08:29] TobiasNx commented on #1313
This list is replaced by #1475  Ticket can be closed.

[2022-11-02 11:26] blackwinter commented on #1342
Assignment of hbz IDs in NZ phase 2 is documented in the [wiki](https://service-wiki.hbz-nrw.de/pages/viewpage.action?pageId=754516217#Publishingf%C3%BCrhbzKatalog,IntrOX,lobid,Fernleiheintern/externZusammenfassung-MARC21035,hbz-Identifikationsnummer).

[2022-11-02 11:31] blackwinter commented on #1373
It's in the internal GOAL wiki space; not sure who's supposed to have access.

[2022-11-02 13:53] #1313 closed

[2022-11-02 14:12] TobiasNx commented on #1475
@dr0i could you give me an example for seeAlso in the current lobid-ressources I do not find any tests for that.

[2022-11-03 06:53] TobiasNx commented on #1471
Is this still a problem?

[2022-11-03 07:00] TobiasNx commented on #1475
Seems that:
- `seeAlso` is missing tests
- contributor and subject altLabels are a more complex issue which need the GND enrichment from ALMA which inactiv at the moment
- `hasVersion`: we decided to stop `hasVersion` in its current form: #1367 and #1242
- `contribution.[].agent.label.[]`, `contribution.[].agent.source.id`, `contribution.[].agent.source.label`, `subject.[].componentList.[].altLabe

[2022-11-03 09:22] TobiasNx opened #1505 "ALMA-Fix: Use GND enrichment for altLabel"
At the moment the GND enrichment is inactive. But altLabels are provided there. We could use them to enrich `subject` and `contribution` objects with GND id.

[2022-11-03 11:32] acka47 commented on #1475
Re. `hasItem.note`: This was introduced with #167.

[2022-11-03 13:16] dr0i opened #1506 "MapperParsingException: lat/lon"
From the lobid morph logs:

log/20221102-0030-stage.startHbz02ToLobidResources.sh:[1930]: index [resources-20221102-0030], type [resource], id [HT019061477], message [MapperParsingException[failed to parse]; nested: ElasticsearchParseException[field must be either [lat], [lon] or [geohash]];]

Don't know exactly where this lat/lon error comes from - is it the `700n10https://nwbib.de/subjects#N5301

[2022-11-03 13:37] dr0i commented on #1471
No MPE anymore - all other observatiosn are still true. What to make of this?

[2022-11-03 13:47] dr0i commented on #1475
Re ''seeAlso": I also can't find any examples, though I also couldn't make a comprehensive query. Just checked the 4 test files which formerly had that data, matched by:
[code]
Seems to be gone from the catalog. I assume we can get rid of `seeAlso`.

[2022-11-03 14:00] TobiasNx commented on #1506
The data is not migrated correctly, the info should be noted in Element `084`: https://www.loc.gov/marc/bibliographic/bd084.html
700 is for contributors https://www.loc.gov/marc/bibliographic/bd700.html

[2022-11-03 14:12] dr0i commented on #1506
no, I think the `700` is especially designed for nwbib krimskrams.
Hm,  I fear the need of a deeper look ... going to debug.

[2022-11-03 14:49] dr0i commented on #1506
Also, there are _two_ (redundant) geo coordinates, while https://www.wikidata.org/wiki/Q152243 only shows _one_.

[2022-11-03 15:42] acka47 commented on #1506
AFAICS, only two resources are affected, the one above (HT019377994) and HT019061477.

From [HT019061477 XML](http://lobid.org/hbz01/HT019061477):

[code]

[2022-11-03 16:15] dr0i commented on #1506
And this is roughly the way how this issue was introduced:
After the [import of the new ZDB data](https://github.com/hbz/nwbib/issues/465#issuecomment-1286778489) there is:

These strange (and superflous if not false) entries , denoting the same entity (after dereferencing of `#N03`), come from the old morph ETLed index (where the geo object was not broken but rather had two (one of them superflou

[2022-11-07 09:26] TobiasNx commented on #1485
Also note that infos in 610 etc that are now migrated to 533 used to be only RAK and not RDA defined elements.

[2022-11-07 09:36] dr0i commented on #1433
Not sure if https://github.com/hbz/lobid-resources/issues/1330 should be resolved to be able to solve this here.

[2022-11-07 09:49] dr0i commented on #1506
Thx - looks good now:
https://test.lobid.org/resources/search?q=HT019377994&format=json.
Closing.

[2022-11-07 09:49] #1506 closed

[2022-11-07 14:55] TobiasNx opened #1507 "ALMA-Fix: Clean-Up `related`"
I deleted "Erscheint auch als" and did not exclude $i completly since some format/medium info for note is sometimes placed there. I also open another ticket for cleaning up "related" since there is duplicate info e.g. with `primarySource` and `fulltextonline` and others.

_Originally posted by @TobiasNx in https://github.com/hbz/lobid-resources/issues/1501#issuecomment-1305713871_

=> related refe

[2022-11-07 15:00] TobiasNx commented on #1475
I close this issue since only some elements are missing, all of them are related to Pull Request or Tickets.

[2022-11-07 15:00] #1475 closed

[2022-11-07 15:55] dr0i opened #1509 "Make statistics of all fields transformed in ALMA-Fix"
We need some statisctics, e.g. if all of the fields denoted in Fix really exist.
This is an incomplete snippet which may help to do this:
[code]

[2022-11-07 15:59] dr0i commented on #1390
From https://github.com/hbz/lobid-resources/issues/1475#issuecomment-1302141011:

[code]

Depends on https://github.com/hbz/lobid-resources/issues/1509.

[2022-11-08 09:21] dr0i commented on #1471
Many MPE's here, e.g.:

[45]: index [resources-alma-fix-20221106-1200], type [resource], id [990197085920206441], message [MapperParsingException[failed to parse]; nested: ElasticsearchParseException[[lat] and [lon] must be valid double values]; nested: NumberFormatException[For input string: "Wittgensteiner Land,http://www.wikidata.org/entity/Q82794,"];]

[2022-11-08 09:24] TobiasNx commented on #1471
NWBIB changed 41 entries of ZDB yesterday by hand. Could this changes be the source of the error?

[2022-11-08 09:32] dr0i commented on #1471
Hm, probably, as the mentioned resource was updated yesterday AND is part of NWbib (http://alma.lobid.org/resources/search?q=990197085920206441&format=json). Going to investigate further.

[2022-11-08 09:38] acka47 commented on #1471
Looks like it to me. Here ist the list of those 41 resources: https://gist.github.com/acka47/ca834888e08669c58a8ab94571849b3c

[2022-11-08 10:20] dr0i commented on #1471
Geo data is missing in `wd_itemLabelTypesCoordinates.tsv` because it's missing in http://www.wikidata.org/entity/Q881875.
Tracing:
[code]
invokes a lookup in `nwbib-spatial.tsv` where it maps to:

which incokes a lookup of `http://www.wikidata.org/entity/Q881875`  in `wd_itemLabelTypesCoordinates.tsv`:

and there the geo data is missing. That's because in the Wikidata it's missing for http://www.w

[2022-11-08 11:06] dr0i opened #1510 "Compare jsonld-context and index setting with real data of ALMA Fix"
We shall compare [context.jsonld](https://github.com/hbz/lobid-resources/blob/master/web/conf/context.jsonld) AND [/index-config.json](https://github.com/hbz/lobid-resources/blob/master/src/main/resources/index-config.json) with the real data of the ALMA Fix transformation and check if they are in sync, i.e. if there is something
a) missing
b) superfluous

Depends on https://github.com/hbz/lobid-r

[2022-11-08 14:21] dr0i commented on #1390
By configuring [index-config.json](https://github.com/hbz/lobid-resources/blob/master/src/main/resources/index-config.json) to index `seeAlso` I got a bunch of errors when ETLing the basedump, e.g.:

So:
1. we have examples now (because of the error logs)
2. we don't want them to be _searchable_, but it should be in the document source. It _is_ ,see  [990219911120206441](http://test.lobid.org/reso

[2022-11-08 14:25] dr0i commented on #1510
We may have _deliberately_ not configured fields in `index-config.json`, see https://github.com/hbz/lobid-resources/issues/1390#issuecomment-1307298801.

[2022-11-08 16:30] dr0i opened #1512 "Report problems analyzing web/logs/ETL.log"
Grep "response code" and "Exception" in web/logs/ETL.log (resp. web/ETL-log-yyyy-ww.gz ) analogue to
https://github.com/hbz/lobid-resources/blob/master/web/scripts/getLogsApplicationFixErrors.sh .
Depends on https://github.com/hbz/lobid-resources/pull/1511 .

- [X]  report *MapperParsingException* once a week
- [x]  daily report response codes if not `204`

This is necessary because:
- We only get

[2022-11-09 11:18] hagbeck opened #1513 "Alma: Delay in index data"
Hi,
we spotted some delay in the index data. The webhook trigger  (06:30 am) and the resulting ETL process on our side from today worked fine. But we are missing resources in lobid added yesterday to Alma. Examples:

- 07:39:16 (Neuerwerbung ZB) - 99371757480306441 ->http://alma.lobid.org/resources/99371757480306441.json NOT FOUND
- 12:42:13 (E-Book) - 99371451795606441 -> http://alma.lobid.org/re

[2022-11-09 11:25] blackwinter commented on #1513
This is due to excessively long publishing runtimes. The last publishing started on 07/11/2022 22:03:36 and finished on 08/11/2022 16:57:26. So yesterday's changes wouldn't be included. The subsequent publishing job (started on 08/11/2022 22:06:44) is still running.

We've opened a support case with Ex Libris three weeks ago, but there hasn't been any substantial feedback yet.

[2022-11-09 11:33] blackwinter commented on #1513
In an effort to minimize the effect of these long publishings, we started to establish a second postprocessing slot at noon (you should see your webhook triggered twice a day now). But so far to no avail; the publishing jobs haven't been able to catch up.

[2022-11-09 12:02] hagbeck commented on #1513
Thank for the information!

To have an effect of the second webhook trigger I've to reconfigure our ETL process. At the time of the last trigger our process was not finished yet.

[2022-11-09 12:14] blackwinter commented on #1513
I see. We only implemented it yesterday and, TBH, I haven't thought about the effect it would have on you. The idea was to have another chance of making changes available to IntrOX users for the second half of the work day; to effectively reduce the delay by half a day.

But it seems questionable whether it's worth it at all. With publishing jobs frequently taking more than 15 hours to complete, w

[2022-11-09 14:55] blackwinter commented on #1513
The latest publishing run with yesterday's changes has finished now (09/11/2022 15:52:31), so you should receive them tomorrow morning. The next one starts in a few minutes, so there's at least some chance that today's changes will be included tomorrow as well.

[2022-11-14 07:42] hagbeck commented on #1513
The last webhook trigger we received was on 10/11/2022 at 6:30. The latest real data update was on 07/11/2022. So we are now a week out of date.

[2022-11-14 08:20] dr0i commented on #1330
Works on test: http://test.lobid.org/resources/search?q=almaMmsId:%2299370693195606441%22&format=json.

[2022-11-14 08:31] #1071 closed

[2022-11-14 08:52] dr0i commented on #1330
Deployed - will be effective on all ALMA indices next Monday. Closing.

[2022-11-14 08:52] #1330 closed

[2022-11-14 09:23] blackwinter commented on #1513
Everything looks in order on my end. I don't see a reason why you wouldn't have received the above mentioned resources by now (they should have been included in the 10/11/2022 update).

[2022-11-14 09:35] dr0i commented on #1513
All 3 resources reported here as missing _are_ available by now:
http://alma.lobid.org/resources/99371757480306441.json
http://alma.lobid.org/resources/99371758227806441.json
http://alma.lobid.org/resources/99371758227806441.json

Not sure if there is a problem with the Webhook Trigger and therefore @hagbeck's Webhook listener is just not properly informed.
Atm this log file is not analyzable beca

[2022-11-14 12:56] dr0i commented on #1513
Uh, yes there was a configuration errror in the config of the webhook caller.
Tried to fix that, but checking doing a `curl` got me `500 INTERNAL SERVER ERROR`.
@hagbeck is your listener down or is my fixing of the configs not good - can you check?

[2022-11-14 13:05] hagbeck commented on #1513
Hm, the process was hanging. I've restarted it.

[2022-11-14 13:19] hagbeck commented on #1513
It seems you send an empty or invalid POST request...

[2022-11-17 08:53] dr0i opened #1517 "MapperParsingException for [contribution]"
Aus den log/20221115-041501.log.startHbz00ToLobidResources.sh:

log/20221115-041501.log.startHbz00ToLobidResources.sh:[994]: index [resources-20221113-0030], type [resource], id [HT021588837], message [MapperParsingException[object mapping for [contribution] tried to parse field [null] as object, but found a concrete value]]
 index [resources-20221113-0030], type [resource], id [HT021588953], mess

[2022-11-18 09:40] dr0i commented on #1517
There are Line-Seaparators as Unicode characters in the data, e.g. `Delamaza, \u2028Gonzalo`.
Wrote an email to Verbund to fix the data.

[2022-11-21 09:56] TobiasNx commented on #1473
Set `delete:`-Option to true. To avoid: https://github.com/hbz/lobid-resources/issues/1471

[2022-11-21 10:00] TobiasNx commented on #1373
First step as discussed with @blackwinter @hagbeck @UBmakla @dr0i :

- remove all but ITM from hasItem
- model POR
- test for missing HOL without ITM
- look what else is missing.

[2022-11-21 13:29] dr0i commented on #1517
Verbund fixed it, see e.g. http://lobid.org/resources/HT021588660.json.
Closing.

[2022-11-21 13:29] #1517 closed

[2022-11-21 13:43] dr0i commented on #1512
Reporting works.
Daily report if "response code"  is  not `204` or triggering had other problems to mean @hagbeck .
Closing.

[2022-11-21 13:43] #1512 closed

[2022-11-21 14:30] dr0i commented on #1390
Added `seeAlso` in [e1f85](https://github.com/hbz/lobid-resources/commit/f6e1f85860078c5d4bc3a454876f8113af329019) .

[2022-11-22 13:45] TobiasNx opened #1521 "ALMA-Fix: Encode path segment to provide resolvable URLs"
At the moment:

[code]

The concatenated id are not encoded as URLs but need to be to be validated by the schema. For doing this we need a function to encode it as URL
[edit @dr0i]: we don't encode whole URLs (see morph - encoding whole URLs wouldn't be resolvabale adhoc (e.g. using curl)) but rather the last path segment, which is than suffixed to `http://lobid.org/items/990223521400206441:`.

[2022-11-23 08:25] TobiasNx commented on #1373
First step is done. All but ITM should not be listed as `hasItem` anymore.

Next step would be modelling:

[2022-11-23 10:18] TobiasNx commented on #1373
In 2021 @acka47 and @dr0i suggested how to model to put Portfolio-Info into `hasItem` but differentiate the type by introducing a specific value: `DigitalDocument`: https://github.com/hbz/lobid-resources/issues/1177#issuecomment-809173419

[Item](https://id.loc.gov/ontologies/bibframe.html#c_Item) in Bibframe is defined as: Single example of an Instance.
And an [Instance](https://id.loc.gov/ontolo

[2022-11-23 10:48] fsteeg commented on #1433
Deployed to test: https://test.lobid.org/resources/HT020968842

This is how it works: if the direct ID access yields no result (because for Alma, the index ID is the almaMmsId, not the hbzId), we run a search for the hbzId and redirect (301, moved permanently), see https://github.com/hbz/lobid-resources/commit/06104c3f66730c041f47160ee1d9034fe4feed2e. Some possible options: we could change how to

[2022-11-24 06:24] hagbeck commented on #1513
Hi,
again we are missing webhook trigger from lobid-resources and the data in lobid-resource is currently not up-to-date.

Missed records are e.g.:

* 99371782794406441 (new on 23.11.2022)
* 99371778673006441 (new on 21.11.2022)

[2022-11-24 08:24] dr0i opened #1524 "Rename resources.conf to avoid overwriting it when pulling"
We should rather use a template then use this conf directly, because a `git pull` may overwrite it and thus breaks our specific configs.

Helps to avoid https://github.com/hbz/lobid-resources/issues/1513#issuecomment-1326008647.

[2022-11-24 08:29] dr0i commented on #1513
oh dear!
@hagbeck there was again an overwriting of the configs pulled in from master. I opened https://github.com/hbz/lobid-resources/issues/1524 to make this impossible , by not using a commited config directly .

[2022-11-24 10:24] hagbeck commented on #1157
@TobiasNx

For POR without $A:

You have to build an electronicLocator based on subfield code="D" by replacing "49HBZ_NETWORK" with the value from subfield code="M".

For POR with $A:

You have to build an electronicLocator for each member of subfield code="A" based on subfield code="D" by replacing "49HBZ_NETWORK" with the value from subfield code="A".
The result is a list of count(subfield code=

[2022-11-24 10:32] TobiasNx commented on #1157
Like this: https://github.com/hbz/lobid-resources/commit/916502aaa30df79bdd7863f1138226057fc0a716 ?

[2022-11-24 10:41] hagbeck commented on #1157
In the file src/test/resources/alma-fix/990133067580206441.json not all sublocations are valid. But its the right way :-)

[2022-11-24 10:57] TobiasNx commented on #1157
Okay should be fixed then. Thanks!

[2022-11-24 11:40] TobiasNx opened #1526 "Institution Lookup for ITM is broken."
Uh, doesnot work on server:

org.metafacture.metamorph.api.MorphExecutionException: File not found: conf/alma/./maps/institutions.tsv

_Originally posted by @dr0i in https://github.com/hbz/lobid-resources/issues/1520#issuecomment-1326142143_

Diskussed this, for now we should use a variable. Next time we should have a look why our FIX does not work with the dot-notation for the path.

[2022-11-24 11:43] TobiasNx opened #1527 "Lookup file refrence does not work with dot notation"
https://github.com/hbz/lobid-resources/issues/1526

[code]

This works locally but does not work on the server. Returns:

[code]

We should investigate the problem. So that we do not need the workaround with the variables.

[2022-11-24 11:48] blackwinter commented on #1527
You're [using](https://github.com/hbz/lobid-resources/blob/3230d48a340bbe92d3e73bb67c6c0e6a1cfa0a90/web/app/controllers/resources/WebhookAlmaFix.java#L49) `conf/alma/alma.fix` instead of `src/main/resources/alma/alma.fix` as `MORPH_FILENAME`. No idea how the Fix file ends up there, but it means that all relative paths are resolved based on the new location.

[2022-11-24 13:41] dr0i commented on #1527
That's because the play app uses lobid-resources as library. This setting:

copies all the files found in `src/main/resources` to `./web/target/universal/stage/conf/`. So e.g. `./web/target/universal/stage/conf/alma/maps/institutions.tsv` is in place, relative to the fix.
I think this was working with morph, but with fix it isn't. Not sure, have to investigate.

[2022-11-24 13:45] TobiasNx commented on #1527
`conf/alma/./maps/institutions.tsv` it introduces a dot between alma and maps

[2022-11-24 13:50] dr0i commented on #1527
The dot meanst like "here" it's semantically the same as `conf/alma/maps/institutions.tsv`.

[2022-11-24 13:57] TobiasNx commented on #1527
With include it seems to work: https://github.com/hbz/lobid-resources/blob/f5478a2ceb5d36b8e1be3a00607ad36fa141f6c2/src/main/resources/alma/alma.fix#L5-L6

[2022-11-24 15:00] acka47 commented on #1433
+1 I think a 301 redirect is the best solution.

Yes, I think, we should add a [`dnb:deprecatedUri`](https://d-nb.info/standards/elementset/dnb#deprecatedUri) statement to each resource that indicates the old URI e.g. for the example resource (in N-Triples): `<http://lobid.org/resources/99370849894106441#!> <https://d-nb.info/standards/elementset/dnb#deprecatedUri> "https://test.lobid.org/resource

[2022-11-25 10:09] TobiasNx commented on #1433
Should we add `deprecatedUri` to all ressources that have HT-Numbers? In my opinion It would be difficult to differentiate between records prior and after the switch to ALMA-Fix.

[2022-11-25 12:47] TobiasNx commented on #1466
I suggest `serialNumber` for this information because barcode is marked as `serialNumber` in example 3 of schema.org books describing a holding of a book in a library:

[code]

[2022-11-25 12:59] TobiasNx commented on #1466
I suggest `serialNumber` for this information because barcode is marked as `serialNumber` in example 3 of schema.org books describing a holding of a book in a library (https://schema.org/Book):

[code]

@acka47 what do you think?

[code]

to

[code]

[2022-11-25 13:10] dr0i commented on #1524
Already rolled out to servers.

[2022-11-25 15:51] blackwinter commented on #1527
I've added a debug log statement to `Metafix.resolvePath()` (metafacture/metafacture-fix@7635572). I'd be interested to know what it says in your web app.

[2022-11-28 16:53] blackwinter commented on #1527
Note that with this change `Metafix.resolvePath()` returns absolute paths now, so the behaviour might be different altogether.

[2022-11-29 08:18] UBmakla opened #1530 "Special character # in field language"
Hi,

in some cases (e.g. 990057975940206441 and 990063455990206441) there are ### instead of the language specification. It may be because in MARC field 008 it looks the same. The correct language specification is contained in field 040.b. Can you do something about it?
Thanks a lot!

[2022-11-29 08:55] TobiasNx commented on #1530
Hi thanks for the hint. One thing: `040 $$b` https://www.loc.gov/marc/bibliographic/bd040.html is the language for the cataloguing record not the resource. That should be `041` https://www.loc.gov/marc/bibliographic/bd041.html we use `$$a`, `$$d` and `$$j` and also the language code in `008`.

It seems that the lookup needs the option: `delete:"true"`:
https://github.com/hbz/lobid-resources/blob/f

[2022-11-29 13:55] fsteeg commented on #1433
Yes. Leaving myself assigned here for deployment after PR #1522 is reviewed by @dr0i.

[2022-11-29 14:44] TobiasNx commented on #1530
Hi Manuela,
it seems that the Bug does not exist in ALMA-Fix. Also both entries do not provide language info.

Since we do not plan to change ALMA-Morph anymore, would it be okay for you to wait for this until you switch to ALMA-Fix too?

[2022-11-29 14:53] #1524 closed

[2022-11-29 15:53] acka47 commented on #1466
I ws sceptical about using `sdo:serialNumber` but then I found this comment by @dbs from 2015 https://github.com/schemaorg/schemaorg/issues/733#issuecomment-138774311 and I realized I misunderstood how it should be used. Dan writes there:

This aligns with our use case. So, +1 from my side.

[2022-11-30 08:41] TobiasNx commented on #1174
I reopen this Issue since it is relevant for ALMA-Fix and states an example of records with "HOL" but without "ITM" and "POR" for an institution.

The example here HT006855611 Holdings with ITM and some without.

[2022-11-30 09:14] TobiasNx commented on #1439
Since we have no example for a urls in elements in `024`. We would not need to filter them out.
But we could pick up missing dois from `856` if they have:

[code]

but no `024`

[2022-11-30 09:36] TobiasNx commented on #1174
Found an example for a HOL without ITM and without other HOL/ITM combinations;  https://alma.lobid.org/marcxml/990055946050206441

[2022-11-30 09:45] TobiasNx commented on #1440
This can be closed since we remodel the holdings: #1519 and #1373

[2022-11-30 09:48] TobiasNx commented on #1478
When the SKOS Look Up in metafacture fix works, we could use this here.

[2022-11-30 10:24] TobiasNx commented on #1312
I realized that the formating of the collection URL is wrong and needs to be fixed. Perhaps this will create better labels and then I should check again.

[2022-11-30 13:37] TobiasNx commented on #1174
@UBmakla : 99370782520706441, http://test.lobid.org/resources/search?q=HT020936481&format=json , https://alma.lobid.org/marcxml/99370782520706441

Thanks I will have a look.